<template>
  <div id="requests-view" >
    <div class="mainPages">
      <b-card no-body class="cardShadow mt-3">
        <b-tabs v-model="tabIndex" content-class="mt-3" card small>
          <b-tab id="supplier_request" title="REQUEST" class="tab" active-nav-item-class="font-weight-bold text-uppercase text-success">
            <b-card-text>
              <RequestTable/>
            </b-card-text>
          </b-tab>

          <!-- <b-tab id="supplier_approve" class="tab" title="APPROVE"   >
            <b-card-text>
              <ApproveTable />
            </b-card-text>
          </b-tab> -->

          <b-tab id="supplier_process" class="tab" title="PROCESS"  >
            <b-card-text>
              <ProcessTable />
            </b-card-text>
          </b-tab>
        </b-tabs>
      </b-card>
    </div>
  </div>
</template>

<script>
import RequestTable from "@/components/Suppliers/RequestTable";
import ProcessTable from "@/components/Suppliers/ProcessTable";

export default {
  // middleware: "authenticate",
  layout: "Sidebar",
  components: {
    RequestTable,
    ProcessTable
  },

  created(){},

  data() {
    return {
      rolePrefix: null,
      tabIndex: 0,
    };
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [,'bg-success', 'text-white','font-weight-bold']
      } else {
        return [ 'text-dark']
      }
    }
  },
};
</script>

