<template>
  <div>
    <div>
      <!-- USER INTERFACE CONTROLS -->
      <b-row>
        <!-- SEARCH BAR -->
        <b-col cols="3" lg="3">
          <b-form-group>
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="request_supplier_search"
                placeholder="Type to Search"
                style="font-size: 15px;"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  id="btn_supplier_clear"
                  style="font-size: 15px;"
                  :disabled="!filter"
                  @click="filter = ''"
                  >Clear</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- DATERANGE PICKER -->
        <b-col cols="3" lg="4">
          <b-input-group size="sm" prepend="Date">
            <date-range-picker
              id="date_range_supplier"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
              @change="updateValues"
            >
              <div
                id="date_picker_select_supplier"
                slot="input"
                style="font-size: 14px;"
              >
                {{ datePicker.startDate }} - {{ datePicker.endDate }}
              </div>
            </date-range-picker>
            <b-input-group-append>
              <b-button @click="resetDate" id="btn-reset" size="sm"
                >Reset</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <b-table
        class="table"
        id="supplier_process_table"
        style="font-size:13px"
        scrollable="true"
        sticky-header
        no-border-collapse
        responsive
        :filter="filter"
        show-empty
        empty-text="There are no transactions to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="filterItems"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
        :tbody-tr-class="rowClassMain"
      >
        <template v-slot:cell(U_STATUS)="">
          <div class="badge-font-size">
            <b-badge pill variant="fourth-level">Processed</b-badge>
          </div>
        </template>

        <template v-slot:cell(actions)="row">
          <b-button
            id="btn-viewPostedChecks"
            size="sm"
            @click="viewProcessedRequest(row.item)"
            class="button-circle"
            variant="secondary"
            v-b-tooltip.hover
            title="View Details"
          >
            <font-awesome-icon
              style="font-size: 11px; margin-bottom: 2px"
              icon="eye"
            />
          </b-button>
        </template>

        <template v-slot:cell(CompanyName)="row">
          {{
            companyList.find(company => company.ID == row.item.U_COMPANY_CODE)
              ? companyList.find(
                  company => company.ID == row.item.U_COMPANY_CODE
                ).COMPANYNAME
              : ""
          }}
        </template>

        <template v-slot:cell(U_REQUEST_TYPE)="row">
          {{ row.item.U_REQUEST_TYPE == "N" ? "New" : "Update" }}
        </template>
      </b-table>
    </div>

    <hr />

    <!-- TABLE FOOTER -->
    <div>
      <b-row>
        <b-col sm="5"> </b-col>
        <b-col sm="2" label-cols-sm class="mb-0">
          <b-form-group
            label-cols-sm="5"
            label-cols-md="2"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            label-for="perPageSelect"
            class="mb-0"
          >
            <b-form-select
              v-model="perPage"
              id="modules-perPageSelect"
              size="sm"
              style="font-size: 12px"
              :options="pageOptions"
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col label-cols-sm class="mb-0 mt-1">
          <div align="right" size="sm" style="color: gray; font-size: 13px;">
            {{ bottomLabel }}
          </div>
        </b-col>
        <b-col>
          <b-pagination
            id="modules-pagination"
            pills
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            align="right"
            size="sm"
            aria-controls="modules-table"
            limit="3"
          ></b-pagination>
        </b-col>
      </b-row>

      <!-- VIEW SUPPLIER REQUEST MODAL -->
      <ViewRequestModal
        :key="componentKey"
        v-on:reload="forceRerender()"
        :requestForm="requestForm"
      />
    </div>

    <!-- ALERT MESSAGE -->
    <!-- <div>
      <b-alert
        id="alert-process"
        :show="alert.showAlert"
        dismissible
        fade
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'"
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>-->
  </div>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from "vuex";

export default {
  components: {
    DateRangePicker
  },

  // Access Rights
  created() {},

  data() {
    return {
      componentKey: 0,
      requestForm: {
        U_COMPANY_CODE: null,
        U_REQUEST_TYPE: null,
        U_SIGNATORY_CODE: null,

        BPAddresses: [],
        ContactEmployees: [],
        RequestDetails: [
          {
            U_CODE: null,
            U_CARD_TYPE: null,
            U_NAME: null,
            U_CARD_FNAME: null,
            U_GROUP_CODE: null,
            U_CURRENCY: null,
            U_LIC_TRADE_NUM: null,
            U_LIST_NUM: null,
            U_GROUP_NUM: null,
            U_CREDIT_LINE: null,
            U_DEBT_LINE: null,
            U_PHONE1: null,
            U_PHONE2: null,
            U_CELLULAR: null,
            U_EMAIL: null,
            U_FAX: null,
            U_WEB_SITE: null,
            U_SLP_CODE: null,
            U_FATHER_CARD: null,
            U_FATHER_TYPE: null,
            U_DEB_PAY_ACCT: null,
            U_DPM_CLEAR: null,
            U_CONN_BP: null,
            U_VALID_FOR: null,
            U_VALID_FROM: null,
            U_VALID_TO: null,
            U_FROZEN_FOR: null,
            U_FROZEN_FROM: null,
            U_FROZEN_TO: null
          }
        ]
      },
      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },

      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },

      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      fields: [
        {
          key: "DocNum",
          label: "Request No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "RequestDetails[0].U_NAME",
          label: "Supplier Name",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_REQUEST_TYPE",
          label: "Request Type",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "CompanyName",
          label: "Company",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_DATE_PROCESSED",
          label: "Date Processed",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_STATUS",
          label: "Status",
          sortable: false
        },

        { key: "actions", label: "Actions" }
      ],

      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15]
    };
  },

  computed: {
    filterItems() {
      return this.processedList.filter(
        process => process.RequestDetails[0].U_CARD_TYPE == "S"
      );
    },

    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.filterItems.length) {
        end = this.filterItems.length;
      }

      if (this.filterItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} - ${end} of ${this.filterItems.length} entries`;
    },

    ...mapGetters({
      companyList: "Company/getCompanyList",
      processedList: "BP-Request/getProcessedList"
    })
  },

  mounted() {},

  methods: {
    forceRerender() {
      this.componentKey += 1;
    },

    viewProcessedRequest(data) {
      this.requestForm = { ...data };
      console.log(this.requestForm);
      this.$bvModal.show("view-request-modal");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getTransactionsWithDateRange();
    }
  },

  beforeDestroy() {},

  beforeCreate() {
    this.$store
      .dispatch("Company/fetchCompany", {
        SessionId: localStorage.SessionId
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });

    this.$store
      .dispatch("SAP/Companies/fetchCompanyList", {
        SessionId: localStorage.SessionId
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });

    this.$store
      .dispatch("BP-Request/fetchProcessedList", {
        SessionId: localStorage.SessionId,
        user_actions: JSON.parse(localStorage.user_actions)
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });
  }
};
</script>
