<template>
  <b-container fluid>
    <Loading v-if="showLoading" />

    <div>
      <!-- USER INTERFACE CONTROLS -->
      <b-row>
        <!-- SEARCH BAR -->
        <b-col cols="3" lg="3">
          <b-form-group>
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="request_supplier_search"
                placeholder="Type to Search"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  id="btn_supplier_clear"
                  :disabled="!filter"
                  @click="filter = ''"
                  >Clear</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- DATERANGE PICKER -->
        <b-col cols="3" lg="4">
          <b-input-group size="sm" prepend="Date">
            <date-range-picker
              id="date_range_supplier"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
              @change="updateValues"
              size="sm"
            >
              <div
                id="date_picker_select_supplier"
                slot="input"
                style="font-size: 14px;"
              >
                {{ datePicker.startDate }} - {{ datePicker.endDate }}
              </div>
            </date-range-picker>
            <b-input-group-append>
              <b-button @click="resetDate" id="btn-reset" size="sm"
                >Reset</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="3">
          <b-dropdown
            id="filter_actions"
            class="button-sq"
            text="Filter Status"
            size="sm"
            variant="outline-secondary"
          >
            <b-form-checkbox-group
              id="status_group"
              name="flavour-2"
              class="pl-2"
              style="font-size:14px"
              v-model="filterStatus"
            >
              <b-form-checkbox id="pending_supp_stat" value="Pending"
                >Pending</b-form-checkbox
              >
              <b-form-checkbox id="requested_cust_stat" value="Requested"
                >Requested</b-form-checkbox
              >
            </b-form-checkbox-group>
          </b-dropdown>
        </b-col>

        <b-col cols="3" lg="2" align-h="end">
          <b-button
            id="btn_create_request"
            size="md"
            @click="createSupplierRequest()"
            class="button-sq"
            variant="biotech"
            >Create Request</b-button
          >
        </b-col>
      </b-row>

      <b-table
        class="table"
        id="supplier_request_table"
        style="font-size:13px"
        scrollable="true"
        sticky-header
        no-border-collapse
        responsive
        :filter="filter"
        show-empty
        empty-text="There are no transactions to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="filterItems"
        :fields="fields"
        :per-page="perPage"
        :current-page="currentPage"
        :tbody-tr-class="rowClassMain"
      >
        <template v-slot:cell(name)="row">
          {{ row.value.first }} {{ row.value.last }}
        </template>

        <template v-slot:cell(U_STATUS)="row">
          <div class="badge-font-size" v-if="row.item.U_STATUS === 'Requested'">
            <b-badge pill variant="second-level">Requested</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill variant="first-level">Pending</b-badge>
          </div>
        </template>

        <template v-slot:cell(CompanyName)="row">
          {{
            companyList.find(company => company.ID == row.item.U_COMPANY_CODE)
              ? companyList.find(
                  company => company.ID == row.item.U_COMPANY_CODE
                ).COMPANYNAME
              : ""
          }}
        </template>

        <template v-slot:cell(U_REQUEST_TYPE)="row">
          {{ row.item.U_REQUEST_TYPE == "N" ? "New" : "Update" }}
        </template>

        <template v-slot:cell(actions)="row">
          <b-button
            id="btn-view_supplier_details"
            v-if="row.item.U_STATUS == 'Requested'"
            size="sm"
            @click="viewSupplierRequest(row.item)"
            class="button-circle mr-1"
            variant="secondary"
            v-b-tooltip.hover
            title="View Details"
          >
            <font-awesome-icon
              style="font-size: 11px; margin-bottom: 2px"
              icon="eye"
            />
          </b-button>

          <b-button
            id="btn-view_supplier_details"
            v-else
            size="sm"
            @click="editSupplierRequest(row.item)"
            class="button-circle mr-1"
            variant="edit"
            v-b-tooltip.hover
            title="Verify Request"
          >
            <font-awesome-icon
              style="font-size: 11px; margin-bottom: 2px"
              icon="edit"
            />
          </b-button>

          <b-button
            id="btn-viewPostedChecks"
            v-if="row.item.U_STATUS == 'Requested'"
            size="sm"
            @click="processSupplierRequest(row.item)"
            class="button-circle"
            variant="info"
            v-b-tooltip.hover
            title="Process Request"
          >
            <font-awesome-icon
              style="font-size: 11px; margin-bottom: 2px"
              icon="share"
            />
          </b-button>
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">
                {{ key }}: {{ value }}
              </li>
            </ul>
          </b-card>
        </template>
      </b-table>
    </div>

    <hr />

    <!-- TABLE FOOTER -->
    <div>
      <b-row>
        <b-col sm="5"> </b-col>
        <b-col sm="2" label-cols-sm class="mb-0">
          <b-form-group
            label-cols-sm="5"
            label-cols-md="2"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            label-for="perPageSelect"
            class="mb-0"
          >
            <b-form-select
              v-model="perPage"
              id="request-perPageSelect"
              size="sm"
              style="font-size: 12px"
              :options="pageOptions"
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col label-cols-sm class="mb-0 mt-1">
          <div align="right" size="sm" style="color: gray; font-size: 13px;">
            {{ bottomLabel }}
          </div>
        </b-col>
        <b-col>
          <b-pagination
            id="request-pagination"
            pills
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            align="right"
            size="sm"
            aria-controls="request-table"
            limit="3"
          ></b-pagination>
        </b-col>
      </b-row>
    </div>

    <!-- CREATE SUPPLIER REQUEST -->

    <RequestModal :key="componentKey" v-on:reload="forceRerender()" />

    <!-- EDIT SUPPLIER REQUEST -->

    <EditRequestModal
      :key="componentKey"
      v-on:reload="forceRerender()"
      :requestForm="requestForm"
    />

    <!-- CONFIRM SUBMIT SUPPLIER REQUEST -->
    <b-modal
      size="md"
      header-bg-variant="biotech"
      header-text-variant="light"
      id="bv-modal-confirmSupplierRequest"
      class="modal"
      hide-header-close
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>Confirm Submission of Request</h6>
      </template>
      <h6>Are you sure?</h6>
      <div style="font-size: 13px">
        This can no longer be edited on submit.
      </div>

      <template v-slot:modal-footer="{}">
        <b-button
          id="btn_cancel_submitSupplier"
          size="sm"
          @click="cancelSubmitRequest()"
          style="font-size:13px;border: 0px;"
          >No
        </b-button>

        <b-button
          id="btn_save_submitSupplier"
          size="sm"
          variant="biotech"
          @click="submitSupplierRequest()"
          style="font-size:13px"
          class="button"
          :disabled="showButtonLoading === true"
          ><b-spinner
            v-show="showButtonLoading === true"
            small
            label="Spinning"
          ></b-spinner
          >Yes
        </b-button>
      </template>
    </b-modal>

    <!-- VIEW DETAILS OF SUPPLIER REQUEST -->
    <ViewRequestModal
      :key="componentKey"
      v-on:reload="forceRerender()"
      :requestForm="requestForm"
    />

    <!-- CONFIRMATION TO PROCESS SUPPLIER REQUEST -->
    <b-modal
      size="md"
      header-bg-variant="biotech"
      header-text-variant="light"
      id="bv-modal-confirmProcessSupplierRequest"
      class="modal-md"
      no-close-on-backdrop
      hide-header-close
    >
      <template v-slot:modal-title>
        <h6>Confirm Processing of Request</h6>
      </template>

      <h6>Are you sure?</h6>
      <div style="font-size: 13px">
        This will automatically 'Process' your request.
      </div>

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="btn_cancel_requestSupplier"
          size="sm"
          @click="cancel()"
          style="font-size:13px;border: 0px;"
          >No
        </b-button>
        <b-button
          id="btn_submit_request"
          size="sm"
          variant="biotech"
          @click="confirm()"
          style="font-size:13px"
          class="button"
          >Yes
        </b-button>
      </template>
    </b-modal>

    <!-- PROCESS SUPPLIER REQUEST -->
    <ProcessRequestModal
      :key="componentKey"
      v-on:reload="forceRerender()"
      :requestForm="requestForm"
    />

    <!-- ALERT MESSAGE -->
    <!-- <div>
      <b-alert
        id="alert-transfer"
        :show="alert.showAlert"
        dismissible
        fade
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="alert.variant == 'biotech' ? 'check-circle' : 'exclamation-triangle'"
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div> -->
  </b-container>
</template>

<script>
import moment from "moment";
import RequestModal from "@/components/Modals/RequestModal";
import EditRequestModal from "@/components/Modals/EditRequestModal";
import ProcessRequestModal from "@/components/Modals/ProcessRequestModal";
import ViewRequestModal from "@/components/Modals/ViewRequestModal";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from "vuex";
// import UploadAttachments from "@/components/SupplierTables/UploadAttachments"

export default {
  components: {
    RequestModal,
    EditRequestModal,
    ProcessRequestModal,
    ViewRequestModal,
    DateRangePicker
    // UploadAttachments
  },

  // Access Rights
  created() {},

  data() {
    return {
      showLoading: false,
      requestForm: {
        U_COMPANY_CODE: null,
        U_REQUEST_TYPE: null,
        U_SIGNATORY_CODE: null,

        BPAddresses: [],
        ContactEmployees: [],
        RequestDetails: [
          {
            U_CODE: null,
            U_CARD_TYPE: null,
            U_NAME: null,
            U_CARD_FNAME: null,
            U_GROUP_CODE: null,
            U_CURRENCY: null,
            U_LIC_TRADE_NUM: null,
            U_LIST_NUM: null,
            U_GROUP_NUM: null,
            U_CREDIT_LINE: null,
            U_DEBT_LINE: null,
            U_PHONE1: null,
            U_PHONE2: null,
            U_CELLULAR: null,
            U_EMAIL: null,
            U_FAX: null,
            U_WEB_SITE: null,
            U_SLP_CODE: null,
            U_FATHER_CARD: null,
            U_FATHER_TYPE: null,
            U_DEB_PAY_ACCT: null,
            U_DPM_CLEAR: null,
            U_CONN_BP: null,
            U_VALID_FOR: null,
            U_VALID_FROM: null,
            U_VALID_TO: null,
            U_FROZEN_FOR: null,
            U_FROZEN_FROM: null,
            U_FROZEN_TO: null
          }
        ]
      },
      filterStatus: ["Pending", "Requested"],
      componentKey: 0,
      showButtonLoading: false,
      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },

      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },

      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      fields: [
        {
          key: "DocNum",
          label: "Request No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "RequestDetails[0].U_NAME",
          label: "Supplier Name",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_REQUEST_TYPE",
          label: "Request Type",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "CompanyName",
          label: "Company",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_DATE_CREATED",
          label: "Date Created",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_STATUS",
          label: "Status",
          sortable: false
        },

        { key: "actions", label: "Actions" }
      ],

      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15]
    };
  },

  computed: {
    filterItems() {
      return this.pendingList.filter(request => {
        if (request.RequestDetails) {
          if (
            request.RequestDetails[0].U_CARD_TYPE == "S" &&
            this.filterStatus.includes(request.U_STATUS)
          ) {
            return request;
          }
        }
      });
    },

    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.filterItems.length) {
        end = this.filterItems.length;
      }

      if (this.filterItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} - ${end} of ${this.filterItems.length} entries`;
    },

    ...mapGetters({
      companyList: "Company/getCompanyList",
      pendingList: "BP-Request/getPendingList"
    })
  },

  mounted() {},

  methods: {
    forceRerender() {
      this.componentKey += 1;
    },
    // CREATE REQUEST FUNCTIONS
    createSupplierRequest() {
      this.showLoading = true;
      this.$bvModal.show("create-request-modal");
      this.showLoading = false;
    },

    // EDIT REQUEST FUNCTIONS
    editSupplierRequest(data) {
      this.requestForm = { ...data };
      this.$bvModal.show("edit-request-modal");
    },

    // SUBMIT EDITED REQUEST FUNCTIONS
    cancelSubmitRequest() {
      this.$bvModal.hide("bv-modal-confirmSupplierRequest");
    },

    submitSupplierRequest() {
      this.$bvModal.hide("bv-modal-confirmSupplierRequest");
    },

    // PROCESS REQUEST FUNCTIONS
    processSupplierRequest(data) {
      this.requestForm = { ...data };
      this.$bvModal.show("process-request-modal");
    },

    // VIEW REQUEST FUNCTIONS
    viewSupplierRequest(data) {
      console.log(this.requestForm)
      this.requestForm = { ...data };
      this.$bvModal.show("view-request-modal");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getTransactionsWithDateRange();
    }
  },

  beforeDestroy() {},

  beforeCreate() {
    this.showLoading = true;
    this.$store
      .dispatch("Company/fetchCompany", {
        SessionId: localStorage.SessionId
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });

    this.$store
      .dispatch("SAP/Companies/fetchCompanyList", {
        SessionId: localStorage.SessionId
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });

    this.$store
      .dispatch("BP-Request/fetchPendingList", {
        SessionId: localStorage.SessionId,
        user_actions: JSON.parse(localStorage.user_actions)
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });
    this.showLoading = false;
  }
};
</script>
