<template>
  <div id="app">
    <div id="buttonPrint" class="sticky-top">
    </div>
    <!-- start here front page -->
    <div class="A4">
      <section class="sheet padding-5mm">
        <article>
          <b-container id="appForm" style="max-width: 1000px;">
          <div class="titles" style="margin-top:2rem">
              <b-row class="text-center">
                <b-col></b-col>
                <b-col cols="6">
                    <b-img src="/bfilogo.png" fluid alt="Fluid image" style="height:100px;width:280px;"/>
                  <br />
                  <b>BO. 6, BANGA, SOUTH COTABATO</b>
                  <br />
                  <p>SUPPLIER INFORMATION FORM</p>
                </b-col>
                <b-col></b-col>
              </b-row>
            </div> 
            
            <div id="Form" style="position:relative;bottom:6rem"> 
            <!-- image -->
            <!-- end image -->
            <b-container fluid class="mainBodys">
              <!-- gen information -->
              <b-row align-h="start">
                <b-col cols="12" class="genInformationBorder">
                  &nbsp;
                  <b>I. GENERAL INFORMATION</b>
                </b-col>
                <!--  -->
              </b-row>
              <!-- surname -->
              <b-row align-h="start">
                <b-col cols="7" class="userName">
                  <b>Supplier Name</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>
                </b-col>
                <!--  -->
                <b-col cols="5" class="userName">
                  <b>Proprietor's Name:</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>

                  <b>President / CEO:</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>
                </b-col>
              </b-row>
              <!-- city address -->
              <b-row align-h="start">
                <b-col cols="7" class="cityAddress">
                  <b>Check Payee Name</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>
                </b-col>
                <!--  -->
                <b-col cols="5" class="cityAddressBorder">
                  <b>Mobile No:</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>

                  <b>Telephone No:</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>
                </b-col>
              </b-row>
              <!-- provincial address -->
              <b-row align-h="start">
                <b-col cols="7" class="cityAddress">
                  <b>Trade Name</b>
                  <ul style="list-style-type:none;">
                    <li>
                    </li>
                  </ul>
                </b-col>
                <b-col cols="5" class="cityAddressLast">
                  &nbsp;
                  <b>TELEPHONE NUMBER</b>
                  <br />&nbsp;HOME &nbsp;&nbsp;
                </b-col>
                <!--  -->
              </b-row>
              <!-- place of birth -->
              <b-row align-h="start">
                <b-col cols="3" class="genInfoFourthRow">
                  <b>PLACE OF BIRTH</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>
                </b-col>
                <b-col cols="3" class="genInfoFourthRow">
                  <b>DATE OF BIRTH</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>
                </b-col>
                <b-col cols="1" class="genInfoFourthRow">
                  <b>AGE</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>
                </b-col>
                <b-col cols="1" class="genInfoFourthRow">
                  <b>HEIGHT</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>
                </b-col>
                <b-col cols="1" class="genInfoFourthRowLast">
                  <b>WEIGHT</b>
                  <ul style="list-style-type:none;">
                    <li></li>
                  </ul>
                </b-col>
                <b-col cols="3" class="genInfoFourthRowLasts">
                  &nbsp;OFFICE &nbsp;&nbsp;
                  <u></u>
                </b-col>
              </b-row>
              <!-- sex -->
              <!-- <b-row align-h="start">
                <b-col cols="3" class="genInfoFifthRow">
                  <b>SEX</b>
                  <br />
                  <input type="checkbox" name="gender" disabled :checked="genderBoolMale" /> MALE
                  &nbsp;&nbsp;&nbsp;
                  <input
                    type="checkbox"
                    name="gender"
                    disabled
                    :checked="genderBoolFemale"
                  /> FEMALE
                </b-col>
              
                <b-col cols="6" class="genInfoFifthRowLast">
                  <b>SINGLE PARENT</b>&nbsp;
                  <input
                    type="checkbox"
                    name="singleParent"
                    disabled
                    :checked="singleParentYes"
                  /> YES
                  &nbsp;
                  <input
                    type="checkbox"
                    name="singleParent"
                    disabled
                    :checked="singleParentNo"
                  /> NO
                  <br />
                  <b>CIVIL STATUS</b>&nbsp;
                  <input type="checkbox" name="status" disabled :checked="statusSingle" /> SINGLE
                  &nbsp;
                  <input
                    type="checkbox"
                    name="status"
                    disabled
                    :checked="statusMarried"
                  /> MARRIED
                  <input type="checkbox" name="status" disabled :checked="statusWidower" /> WIDOWER
                  &nbsp;
                  <input
                    type="checkbox"
                    name="status"
                    disabled
                    :checked="statusSeparated"
                  /> SEPARATED
                </b-col>
                
                <b-col cols="3" class="genInfoFifthRowLasts">
                  <b-row class="tops" align-h="start">
                    &nbsp;
                    <b>CITIZENSHIP</b>
                    &nbsp;&nbsp;
                  </b-row>
                  <b-row align-h="start">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>RELIGION</b>
                    &nbsp;&nbsp; 
                  </b-row>
                </b-col>
                
              </b-row> -->
              
              
          </b-container>
           </div>
          </b-container>
        </article>
      </section>
    </div>
    <!-- end here front page -->
  </div>
</template>

<script>

export default {
  data() {
    return {};
  },

  created(){},

  methods: {
    // print
    async print() {
      await setTimeout({}, 1000);
      // Get HTML to print from element
      const prtHtml = document.getElementById("app").innerHTML;

      // Get all stylesheets HTML
      let stylesHtml = "";
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style')
      ]) {
        stylesHtml += node.outerHTML;
      }

      // Open the print window
      const WinPrint = window.open(
        "",
        "",
        "left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0"
      );

      WinPrint.document.write(`<!DOCTYPE html>
              <html>
              <head>
                  ${stylesHtml}
              <style>
                  body {margin-left: 1rem;}

              </style>
              </head>
              <body>
                  ${prtHtml}
              </body>
      </html>`);

      WinPrint.document.close();
      WinPrint.focus();
      WinPrint.print();

      WinPrint.close();
    }
    
  }
};
</script>