<template>
  <div class="mainPages">
    <b-card no-body class="cardShadow mt-3">
      <b-tabs v-model="tabIndex" content-class="mt-1" card small>

        <b-tab v-if="role === 'Requester'" id="tab-request-price" title="REQUEST" class="tab" active-nav-item-class="font-weight-bold text-uppercase text-success">
          <b-card-text>
            <RequestTable/>
          </b-card-text>
        </b-tab>

        <b-tab  v-if="role !== 'Requester'" id="tab-approval-list" title="APPROVAL" class="tab">
          <b-card-text>
            <ApproveTable/>
          </b-card-text>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import RequestTable from "@/components/Price-Approval/ListForApproval/RequestTable";
import ApproveTable from "@/components/Price-Approval/ListForApproval/ApproveTable";

export default {
  layout: "Sidebar",
  components: {
    RequestTable,
    ApproveTable
  },
  created() {
  
    const useRoleDetails = JSON.parse(localStorage.user_role)
    this.role = useRoleDetails.Name
  

  },
  data() {
    return {
      role: null,
      tabIndex: 0
    };
  },
  methods: {},
};
</script>

