<template>
  <div class="mainPages">
    <b-card no-body class="cardShadow mt-3">
      <b-tabs v-model="tabIndex" content-class="mt-1" card small>
        <b-tab id="tab-reports" title="REPORTS" class="tab" active-nav-item-class="font-weight-bold text-uppercase text-success">
          <b-card-text>
            <ReportsTable/>
          </b-card-text>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import ReportsTable from "@/components/Price-Approval/Reports/ReportsTable";

export default {
  layout: "Sidebar",
  components: {
    ReportsTable
  },
  data() {
    return {
      tabIndex: 0
    };
  },
  methods: {},
};
</script>

