<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->
  <!-- <Header /> -->

  <div id="requests-view">
     <Loading v-if="showLoading" />
    <b-card class="my-4 mr-3 ml-4">
      <!--            
 <b-button id="show-btn"  class="button1" @click="$bvModal.show('bv-modal-example')"><font-awesome-icon icon="plus" class="icon"/>NEW ITEM PRICE FOR APPROVAL</b-button>
    <br>
  <b-modal id="bv-modal-example" hide-footer>
    <template v-slot:modal-title>
      <h4 class="color1">ITEM PRICE FOR APPROVAL</h4>
    </template>
    <div class="d-block text-center">
              <b-form-group
            id="item"
            label="Item"
            label-for="Item"
            style="font-size:14px;text-align:left"
          >
            <b-form-select v-model="item_ids" :options="item_list"></b-form-select>
          </b-form-group>
       <br>
        <b-form-group
            id="new_p1rice"
            label="New Price"
            label-for="Item"
            style="font-size:14px;text-align:left"
          >
        <b-form-input id="input-default" v-model="new_price" placeholder="Php"></b-form-input>
        </b-form-group>
        <br>
    </div>
    <b-button class="ml-10 button1" @click="newPrice" >SAVE</b-button>
      </b-modal>-->

     <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="4" >
        <b-input-group prepend="Date" size="sm">
          <date-range-picker
            id="date_pending"
            ref="picker"
            :opens="opens1"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div slot="input" id="date_pending" >
              {{ datePicker.startDate }} - {{ datePicker.endDate }}
            </div>
          </date-range-picker>
          <b-input-group-append style="height:2rem; font-size:12px">
            <b-button
              @click="resetDate"
              id="date_reset_pending"
              style="font-size:12px"
              >Reset</b-button
            >
          </b-input-group-append>
        </b-input-group>
      </b-col>
  <b-col ></b-col>
 
      <b-col cols="3"   align="right">
        <!-- <b-form-group class="mb-0">
          <b-form-select
            id="perPageSelect_action"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group> -->
      
     
          <!-- <b-button
            size="sm"
            style="font-size:15px;"
            variant="dark"
            v-b-tooltip.hover
            title="Print Report"
          >
            <font-awesome-icon style icon="print" />
          </b-button>
          <b-button
            align="right"
            size="sm"
            class="button1"
            style="font-size:15px "
            v-b-tooltip.hover
            title="Export Report to Excel"
          >
            <font-awesome-icon icon="file-excel" />
          </b-button> -->
          <b-dropdown
            right
            id="filter_actions"
            size="sm"
            variant="dark"
            text="Filter"
          >
          <template v-slot:button-content>
     <font-awesome-icon icon="filter" class="mr-1" />   
    </template> 
            <b-form-checkbox-group
              
              id="status_group"
              name="flavour-2"
              class="pl-2"
              style="font-size:12px"
              v-model="filterStatus"
            >
              <b-form-checkbox id="pending_supp_stat" value="Pending"
                >Pending</b-form-checkbox
              >
              <b-form-checkbox id="cancelled_cust_stat" value="Cancelled"
                >Cancelled</b-form-checkbox
              >
            </b-form-checkbox-group>
          </b-dropdown>
     
     
    

        </b-col>

        <!--     
      <b-col>
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
        </b-col>-->
      </b-row>
      <!-- Main table element -->
      <b-table
        class="my-3"
        style="font-size:13px"
        show-empty
        small
        stacked="md"
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filterIncludedFields="filterOn"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
      >
        <!-- <template v-slot:cell(status)="row">
          <div class="badge-font-size" v-if="row.item.status == 'For Inbound'">
            <b-badge
              pill
              block
              style="font-size:0.7rem;background-color:#E27429"
            >{{ row.item.status }}</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge
              pill
              block
              style="font-size:0.7rem;background-color:#E27429"
            >{{ row.item.status }}</b-badge>
          </div>
        </template> -->

        <template v-slot:cell(actions)="row">
          <!-- <b-button size="sm" @click="info(row.item, row.index, $event.target)" class="mr-1">
          Info modal
          </b-button>-->

          <b-button
            v-if="row.item.willApproveOrDisapprove"
            class="button1"
            size="sm"
            @click="approve(row)"
          >Approve</b-button>

          <b-button
            v-if="row.item.willApproveOrDisapprove"
            variant="danger"
            size="sm"
            @click="disapprove(row)"
          >Disapprove</b-button>
        </template>

        <!-- <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
            </ul>
          </b-card>
        </template>-->
      </b-table>

      <b-row align-h="end">
        <b-col cols="6">{{ bottomLabel }}</b-col>

        <b-col cols="6">
          <b-pagination
            id="pagination"
            pills
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="right"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-row>

      <!-- <alert/> -->
      <!-- ALERT SUCCESSFUL -->

      <!-- Info modal -->
      <!-- <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
      <pre>{{ infoModal.content }}</pre>
      </b-modal>-->
    </b-card>
    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      class="button1 fixed"
      @dismiss-count-down="countDownChanged"
    >Item Price Approved</b-alert>
    <b-alert
      :show="dismissCountDown1"
      dismissible
      fade
      class="button2 fixed"
      @dismiss-count-down="countDownChanged1"
    >Item Price Disapproved</b-alert>
  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/Loading/Loading.vue";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
export default {
   components: {
    Loading,
    DateRangePicker
  },
  created() {
    this.getRequests();
  },
  data() {
    return {
       datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      showLoading: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDown1: 0,
      showDismissibleAlert: false,
      modalShow: false,
      item_list: ["00001", "00002", "00003", "00004", "00005"],
      items: [],
      fields: [
        {
          key: "item_name",
          label: "Item Name",
          sortable: true,
          class: "text-center"
        },
        {
          key: "price",
          label: "Price",
          sortable: true,
          class: "text-center"
        },
        {
          key: "created_by",
          label: "Created By",
          sortable: true,
          class: "text-center"
        },
        {
          key: "date_created",
          label: "Date Created ",
          sortable: true,
          class: "text-center"
        },
         {
          key: "company_name",
          label: "Company",
          sortable: true,
          class: "text-center"
        },
        {
          key: "status",
          label: "Approval Status",
          sortable: true,
          class: "text-center"
        },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      // pageOptions: [5, 10, 15, "All"],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },
  methods: {
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
      this.getRequests()
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.getRequests()
    },
    commaSeparate(num) {
      if (num) {
        num = parseFloat(num).toFixed(2);
        const num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const newNum = num_parts.join(".");
        return newNum;
      } else {
        return 0;
      }
    },
    intToTime(i) {
      const str = i.toString();
      const len = str.length;
      let time = null;
      if (len == 4) {
        const hour = str.substring(0, 2);
        const min = str.substring(2, 4);
        time = `${hour}:${min}`;
        return time;
      } else if (len == 3) {
        const hour = str.substring(0, 1);
        const min = str.substring(1, 3);
        time = `0${hour}:${min}`;
        return time;
      } else {
        return `00:00`;
      }
    },
    newPrice: function() {
      this.items.push({
        item_id: this.item_ids,
        item_name: "Corn",
        price: "Php" + this.new_price,
        created_by: "Alvin Subere",
        date_created: "February 21, 2020 | 09:00 AM",
        status: "Pending"
      });
      this.showAlert();
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChanged1(dismissCountDown1) {
      this.dismissCountDown1 = dismissCountDown1;
    },
    showAlertErr() {
      this.dismissCountDown1 = this.dismissSecs;
    },

    async approve(row) {
      try{
      this.showLoading = true
      const userDetails = JSON.parse(localStorage.user_details);

      const employee_id = userDetails.Code;

      const res = await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/api/pa-transactions/requests/approve/${row.item.request_id}`,
        headers: {
          Authorization: `B1SESSION=${localStorage.SessionId}`
        },
        data: {
          company: row.item.db_name,
          employee_id
        }
      });
       this.showLoading = false
      this.getRequests();
      } catch(e){
        console.log(e)
         this.showLoading = false
      }
    },
    async disapprove(row) {
      try{
      this.showLoading = true
      const userDetails = JSON.parse(localStorage.user_details);

      const employee_id = userDetails.Code;

      const res = await axios({
        method: "PUT",
        url: `${this.$axios.defaults.baseURL}/api/pa-transactions/requests/disapprove/${row.item.request_id}`,
        headers: {
          Authorization: `B1SESSION=${localStorage.SessionId}`
        },
        data: {
          employee_id
        }
      });

       this.showLoading = false
      this.getRequests();
      }catch(e){
        console.log(e)
         this.showLoading = false
      }
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    async getRequests() {
      try{
         this.showLoading = true
      const userDetails = JSON.parse(localStorage.user_details);
      const roleDetails = JSON.parse(localStorage.user_role);

      const employee_id = userDetails.Code;
      const stage_id = roleDetails.U_STAGE_ID;

      this.items = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/api/pa-transactions/requests/select`,
        headers: {
          Authorization: `B1SESSION=${localStorage.SessionId}`
        },
        data: {
          employee_id,
          stage_id,
            date_from: moment(this.datePicker.startDate).format("YYYY-MM-DD"),
            date_to: moment(this.datePicker.endDate).format("YYYY-MM-DD")
        }
      });

      const v = res.data.view;
   
      for (let i = 0; i < v.length; i++) {
        const d = moment(v[i].DATE_REQUESTED).format("YYYY-MM-DD")
        const t = this.intToTime(v[i].TIME_REQUESTED)
        const date = moment(`${d} ${t}`).format("MMM DD, YYYY hh:mm A")

        this.items.push({
          item_id: v[i].ITEM_ID,
          item_name: v[i].ITEM_NAME,  
          price: this.commaSeparate(v[i].REQUESTED_PRICE),
          created_by: v[i].REQUESTER_NAME,
          date_created: date,
          request_id: v[i].REQUEST_ID,
          transaction_id: v[i].TRANSACTION_ID,
          stage: v[i].STAGE,
          status: `Stage ${v[i].CURRENT_STAGE} of ${v[i].STAGE} stage/s`,
          willApproveOrDisapprove: v[i].WILL_APPROVE_DISAPPROVE,
          current_stage: v[i].CURRENT_STAGE,
          db_name: v[i].DB_NAME,
          company_name: v[i].COMPANY_NAME
        });
      }

       this.showLoading = false
    }catch(e){
      console.log(e)
       this.showLoading = false
    }
    } 


  }
};
</script>

