<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->
  <!-- <Header /> -->

  <div id="requests-view">
    <Loading v-if="showLoading" />

    <b-button id="show-btn" class="button1" @click="openRequestModal">
      <font-awesome-icon icon="plus" class="icon" />NEW REQUEST
    </b-button>
    <br />
    <b-modal id="bv-modal-example" hide-footer header-bg-variant="success" size="lg">
      <template v-slot:modal-title>
        <h4 class="white">NEW REQUEST</h4>
      </template>

      <div class="d-block">
        <b-card class="cardShadow">
          <b-form-group id="input-group-3" label="Select Company:" label-for="input">
            <b-form-select
              size="sm"
              id="input-3"
              v-model="company"
              :options="companies"
              @change="getItems"
              required
            ></b-form-select>
          </b-form-group>
        </b-card>
        <br />
        <div v-if="company === null"></div>
        <div v-else>
          <b-card class="cardShadow">
            <b-row align-h="end">
              <b-col cols="2">
                <b-form-group id="select_item" label="Select Item:" label-for="input"></b-form-group>
              </b-col>
              <b-col></b-col>
              <b-col cols="7">
                <multiselect
                  v-model="value"
                  :options="options"
                  :multiple="true"
                  track-by="item_name"
                  :hide-selected="true"
                  :close-on-select="false"
                  :custom-label="customLabel"
                  :searchable="true"
                  placeholder
                  :show-labels="true"
                  @select="toggleSelected"
                >
                  <span slot="maxElements">Max Reached</span>
                </multiselect>
              </b-col>
              <b-col></b-col>

              <b-col cols="2.1">
                <b-button class="ml-10 button1" @click="newRequest">+ ADD ITEM</b-button>
              </b-col>
            </b-row>

            <b-table
              class="my-3"
              style="font-size:13px"
              show-empty
              small
              stacked="md"
              :items="items1"
              :fields="fields1"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :filterIncludedFields="filterOn"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              @filtered="onFiltered"
            >
              <template v-slot:cell(new_price)="row">
                <b-form-input v-model="row.item.new_price" />
              </template>

              <template v-slot:row-details="row">
                <b-card>
                  <ul>
                    <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
                  </ul>
                </b-card>
              </template>
            </b-table>

            <b-form-group id="input-group-3" label="Level of Approval:" label-for="input">
              <b-form-select size="sm" id="level" v-model="level" :options="levelOptions" required></b-form-select>
            </b-form-group>
          </b-card>
        </div>
      </div>

      <br />
      <hr />
      <b-row align-h="end">
        <b-col cols="10"></b-col>
        <b-col cols="2">
          <b-button class="ml-5 button1" @click="newPrice">Save</b-button>
        </b-col>
      </b-row>
    </b-modal>
    <br />
    <b-row>
      <b-col cols="4">
        <b-input-group size="sm">
          <b-form-input
            v-model="filter"
            type="search"
            id="filterInput"
            placeholder="Type to Search"
          ></b-form-input>
          <b-input-group-append>
            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col cols="4">
        <b-input-group prepend="Date" size="sm">
          <date-range-picker
            id="date_pending"
            ref="picker"
            :opens="opens1"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              id="date_pending"
            >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append style="height:2rem; font-size:12px">
            <b-button @click="resetDate" id="date_reset_pending" style="font-size:12px">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-col></b-col>

      <b-col cols="3" align="right">
        <b-dropdown right id="filter_actions" size="sm" variant="dark" text="Filter">
          <template v-slot:button-content>
            <font-awesome-icon icon="filter" class="mr-1" />
          </template>
          <b-form-checkbox-group
            id="status_group"
            name="flavour-2"
            class="pl-2"
            style="font-size:12px"
            v-model="filterStatus"
          >
            <b-form-checkbox id="pending_supp_stat" value="Pending">Pending</b-form-checkbox>
            <b-form-checkbox id="cancelled_cust_stat" value="Cancelled">Cancelled</b-form-checkbox>
          </b-form-checkbox-group>
        </b-dropdown>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      class="my-3"
      style="font-size:13px"
      show-empty
      small
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      @row-clicked="showDetails"
    >
      <template v-slot:cell(status)="row">
        <div class="badge-font-size" v-if="row.item.status == 'Processed'">
          <b-badge pill block style="font-size:0.7rem;background-color:green">{{ row.item.status }}</b-badge>
        </div>
        <div class="badge-font-size" v-else>
          <b-badge
            pill
            block
            style="font-size:0.7rem;background-color:#E27429"
          >{{ row.item.status }}</b-badge>
        </div>
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
          </ul>
        </b-card>
      </template>
    </b-table>

    <b-modal id="bv-modal-list" hide-footer header-bg-variant="success" size="lg">
      <template v-slot:modal-title>
        <h4 class="white">REQUESTED ITEM</h4>
      </template>
      <b-card>
        <div class="d-block text-center">
          <b-table
            class="my-3"
            style="font-size:13px"
            show-empty
            small
            stacked="md"
            :items="items2"
            :fields="fields2"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :filterIncludedFields="filterOn"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @filtered="onFiltered"
          >
            <template v-slot:cell(status1)="row">
              <div class="badge-font-size" v-if="row.item.status1 == 'Disapproved'">
                <b-badge
                  pill
                  block
                  style="font-size:0.7rem;background-color:red"
                >{{ row.item.status1 }}</b-badge>
              </div>
              <div class="badge-font-size" v-else-if="row.item.status1 == 'Approved'">
                <b-badge
                  pill
                  block
                  style="font-size:0.7rem;background-color:green"
                >{{ row.item.status1 }}</b-badge>
              </div>
              <div class="badge-font-size" v-else>
                <b-badge
                  pill
                  block
                  style="font-size:0.7rem;background-color:#E27429"
                >{{ row.item.status1 }}</b-badge>
              </div>
            </template>
          </b-table>
        </div>
      </b-card>
      <br />
      <hr />
      <b-row align-h="end">
        <b-col cols="10"></b-col>
        <b-col cols="2">
          <b-button class="ml-5 button1" @click="$bvModal.hide('bv-modal-list') ">Close</b-button>
        </b-col>
      </b-row>
    </b-modal>

    <b-row align-h="end">
      <b-col cols="6"></b-col>
      <b-col cols="6">
        <b-pagination
          id="pagination"
          pills
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>
    </b-row>

    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      class="button1 fixed"
      @dismiss-count-down="countDownChanged"
    >Successfully Added</b-alert>
  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/Loading/Loading.vue";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
export default {
  components: {
    Loading,
    DateRangePicker
  },
  async created() {
    await this.getTransactions();
    this.getCompanies();

    this.getLevels();
    this.totalRows = this.items.length;
  },
  data() {
    return {
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },

      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      showLoading: false,
      level: null,
      levelOptions: [],
      company: null,
      value: [],
      status: "",
      headerBgVariant: "success",
      companies: [],
      show: true,

      options: [],
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      modalShow: false,
      item_list: ["00001", "00002", "00003", "00004", "00005"],

      items1: [],
      items: [],
      fields1: [
        {
          key: "item_id",
          label: "ID",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "item_name",
          label: "Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "item_price",
          label: "Current Price",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "new_price",
          label: "New Price",
          sortable: true,
          sortDirection: "desc"
        }
        // {
        //   key: "action",
        //   label: "Action",

        // },
      ],
      items2: [],
      fields2: [
        {
          key: "item_id",
          label: "ID",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "item_name",
          label: "Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "item_price",
          label: "Current Price",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "new_price",
          label: "New Price",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "status1",
          label: "Status",
          sortable: true,
          sortDirection: "desc"
        }
      ],

      fields: [
        {
          key: "request_id",
          label: "Request ID",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "created_by",
          label: "Created By",
          sortable: true,
          class: "text-center"
        },
        {
          key: "date_created",
          label: "Date Created ",
          sortable: true,
          class: "text-center"
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
          class: "text-center"
        },

        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        }
        // { key: "actions", label: "Actions", class: "text-center" }
      ],

      showItem: [],
      totalRows: 0,
      currentPage: 1,
      perPage: 5,
      // pageOptions: [5, 10, 15, "All"],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;
      if (end > this.items.length) {
        end = this.items.length;
      }
      if (this.items.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },
    // totalRows() {
    //   return this.items.length;
    // },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
      this.getTransactions()
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.getTransactions()
    },
    commaSeparate(num) {
      if (num) {
        num = parseFloat(num).toFixed(2);
        const num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const newNum = num_parts.join(".");
        return newNum;
      } else {
        return 0;
      }
    },
    intToTime(i) {
      const str = i.toString();
      const len = str.length;
      let time = null;
      if (len == 4) {
        const hour = str.substring(0, 2);
        const min = str.substring(2, 4);
        time = `${hour}:${min}`;
        return time;
      } else if (len == 3) {
        const hour = str.substring(0, 1);
        const min = str.substring(1, 3);
        time = `0${hour}:${min}`;
        return time;
      } else {
        return `00:00`;
      }
    },
    openRequestModal() {
      this.level = null;
      this.company = null;
      this.value = null;
      this.items1 = [];
      this.$bvModal.show("bv-modal-example");
    },

    async showDetails(record, index) {
      try {
        this.showLoading = true;
        this.items2 = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/api/pa-transactions/select/${record.request_id}`,
          headers: {
            Authorization: `B1SESSION=${localStorage.SessionId}`
          }
        });

        const v = res.data.view;

        for (let i = 0; i < v.length; i++) {
          this.items2.push({
            item_id: v[i].ITEM_CODE,
            item_name: v[i].ITEM_NAME,
            item_price: this.commaSeparate(v[i].CURRENT_PRICE),
            new_price: this.commaSeparate(v[i].NEW_PRICE),
            status1: v[i].STATUS
          });
        }

        this.$bvModal.show("bv-modal-list");
        this.showLoading = false;
      } catch (e) {
        console.log(e);
        this.showLoading = false;
      }
    },

    customLabel(option) {
      return `${option.item_name}`;
    },
    toggleSelected(value) {
      console.log(" >> " + `${value}`);
    },
    onRowSelected(ItemPrice) {
      this.selectedItemPrice = ItemPrice;
    },

    newRequest: function() {
      if (this.value) {
        for (let i = 0; i < this.value.length; i++) {
          this.items1.push({
            item_id: this.value[i].item_id,
            item_name: this.value[i].item_name,
            item_price: this.value[i].item_price,
            new_price: 0
          });
        }
      }
      this.value = null;
    },

    async newPrice() {
      try {
        this.showLoading = true;
        let items = [];

        for (let i = 0; i < this.items1.length; i++) {
          items.push({
            item_id: this.items1[i].item_id,
            old_price: this.items1[i].item_price,
            price: this.items1[i].new_price
          });
        }

        const userDetails = JSON.parse(localStorage.user_details);

        const json = {
          items,
          stage_id: this.level,
          requested_by: userDetails.Code,
          date_from: "2020-03-09",
          time_from: "1645",
          date_to: "2020-04-10",
          time_to: "1645",
          company_id: this.company
        };

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/api/pa-transactions/add`,
          headers: {
            Authorization: `B1SESSION=${localStorage.SessionId}`
          },
          data: {
            ...json
          }
        });
        this.showLoading = false;
        this.getTransactions();
        this.$bvModal.hide("bv-modal-example");
      } catch (e) {
        console.log(e);
        this.showLoading = false;
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    redirect(row) {
      this.$router.push(`/transaction/${row.item.transaction_number}`);
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    async getLevels() {
      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/api/pa-transactions/levels/select`,
        headers: {
          Authorization: `B1SESSION=${localStorage.SessionId}`
        }
      });
      const v = res.data.view;

      for (let i = 0; i < v.length; i++) {
        this.levelOptions.push({
          text: v[i].U_STAGE,
          value: v[i].Code
        });
      }
    },

    async getCompanies() {
      const res = await axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/api/companies`,
        headers: {
          Authorization: localStorage.SessionId
        }
      });
      const v = res.data.companies;

      for (let i = 0; i < v.length; i++) {
        this.companies.push({
          text: v[i].NAME,
          value: v[i].ID
        });
      }
    },
    async getItems() {
      this.options = [];
      this.value = null;
      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/api/pa-items/select`,
        headers: {
          Authorization: `B1SESSION=${localStorage.SessionId}`
        },
        data: {
          company_id: this.company
        }
      });
      let v = res.data.view;
      for (let i = 0; i < v.length; i++) {
        this.options.push({
          item_name: v[i].ITEM_NAME,
          item_id: v[i].ITEM_ID,
          item_price: v[i].PRICE
        });
      }
    },

    async getTransactions() {
      try {
        this.showLoading = true;
        this.items = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/api/pa-transactions/select`,
          headers: {
            Authorization: `B1SESSION=${localStorage.SessionId}`
          },
          data: {
            date_from: moment(this.datePicker.startDate).format("YYYY-MM-DD"),
            date_to: moment(this.datePicker.endDate).format("YYYY-MM-DD")
          }
        });
        const v = res.data.view;
        for (let i = 0; i < v.length; i++) {
          const d = moment(v[i].DATE_REQUESTED).format("YYYY-MM-DD");
          const t = this.intToTime(v[i].TIME_REQUESTED);
          const date = moment(`${d} ${t}`).format("MMM DD, YYYY hh:mm A");
          this.items.push({
            request_id: v[i].TRANSACTION_ID,
            created_by: v[i].REQUESTER,
            date_created: date,
            status: v[i].STATUS
          });
        }

        this.showLoading = false;
      } catch (e) {
        console.log(e);
        this.showLoading = false;
      }
    }
  },
  reloadFunction() {
    this.values = [{ label: "2" }, { label: "3" }];
  }
};
</script>

<style>
html {
  background-color: #eee;
}

.color1 {
  color: #00803e;
}
.white {
  color: #eee;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}

/* Date Range */
.reportrange-text[data-v-fffebcea] {
  /* background: #fff; */
  /* cursor: pointer; */
  /* padding: 5px 10px; */
  border: 1px solid #ccc;
  height: 2rem;
  width: 14rem;
  font-size: 12px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #00a651;
  border-color: transparent;
  color: #fff;
}
.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}
</style>
