<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->
  <!-- <Header /> -->

  <div id="requests-view">
      <Loading v-if="showLoading" />
    <!--  
 <b-button id="show-btn" class="color1" @click="$bvModal.show('bv-modal-example')"><font-awesome-icon icon="search" class="icon"/>TRACE TRANSACTION</b-button>

  <b-modal id="bv-modal-example" hide-footer>
    <template v-slot:modal-title>
      TRACE TRANSACTION
    </template>
    <div class="d-block text-center">
       <b-form-input id="input-default" placeholder="Plate Number"></b-form-input>
       <br>
        <b-form-input id="input-default" placeholder="Supplier"></b-form-input>
        <br>
    </div>
    <b-button class="ml-10 button1" href="/transaction/id">Trace</b-button>
    </b-modal>-->

    <b-card class="my-4 mr-3 ml-4">
      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="4">
          <!-- <b-input-group size="sm">
            <b-form-input v-model="filter" type="search" id="filterInput1" placeholder="Filter by"></b-form-input>
          </b-input-group>-->
        </b-col>
        <b-col cols="4">
          <b-form-select
            size="sm"
            id="input-3"
            v-model="company"
            :options="companies"
            @change="getItems"
            required
          ></b-form-select>
        </b-col>

        <!-- <b-col cols="4" style="text-align: right;">
          
          <b-button
            size="sm"
            style="font-size:15px;"
            variant="danger"
            v-b-tooltip.hover
            title="Export Report to PDF"
          >
            <font-awesome-icon style icon="file-pdf" />
          </b-button>
          <b-button
          align="right"
            size="sm"
            class="button1 "
            style="font-size:15px "
            v-b-tooltip.hover
            title="Export Report to Excel"
          >
            <font-awesome-icon icon="file-excel" />
          </b-button>
     
        </b-col>-->

        <b-col>
          <!-- <b-form-group
            label="Per page"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            label-for="perPageSelect"
            class="mb-0"
          >
            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
          </b-form-group>-->
        </b-col>
      </b-row>
      <!-- Main table element -->
      <b-table
        class="my-3"
        style="font-size:13px"
        show-empty
        small
        stacked="md"
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filterIncludedFields="filterOn"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
        @row-clicked="onRowClicked"
      >
        <template v-slot:cell(name)="row">{{ row.value.first }} {{ row.value.last }}</template>

        <!-- <template v-slot:cell(status)="row">
          <div class="badge-font-size" v-if="row.item.status == 'For Inbound'">
            <b-badge
              pill
              block
              style="font-size:0.7rem;background-color:#E27429"
            >{{ row.item.status }}</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge
              pill
              block
              style="font-size:0.7rem;background-color:#B22222"
            >{{ row.item.status }}</b-badge>
          </div>
        </template>-->

        <!-- <template v-slot:cell(actions)="row">

          <b-button
            v-if="row.item.status === 'For Inbound'"
            block
            class="button1"
            size="sm"
            @click="redirect(row)"
          >Inbound</b-button>

          <b-button v-else class="button1" size="sm" block @click="redirect(row)">Outbound</b-button>
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
            </ul>
          </b-card>
        </template>-->
      </b-table>

      <b-row align-h="end">
        <b-col cols="6">{{ bottomLabel }}</b-col>

        <b-col cols="6">
          <b-pagination
            id="pagination"
            pills
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="right"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-row>

      <!-- Info modal -->
      <b-modal
        size="lg"
        header-bg-variant="success"
        :id="infoModal.id"
        hide-footer
        @hide="resetInfoModal"
      >
        <template v-slot:modal-title>
          <h4 class="white">{{show.item_id}}</h4>
        </template>
        <!-- <pre>
        <b-card >
          
          <p>Name : {{show.item_name}}
          <br>Current Price : {{show.price}} 
          <br>Old Price : {{show.price}} 
          <br>Created By : {{show.created_by}} 
          <br>Date Created : {{show.date_created}} 
          <br>Approved By :  {{show.approved_by}} 
          <br>Date Approved : {{show.date_approved}} </p>
        </b-card>
        </pre>-->

        <b-table
          class="my-3"
          style="font-size:13px"
          show-empty
          small
          stacked="md"
          :items="items1"
          :fields="fields1"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        ></b-table>
        <br />
        <hr />
        <b-row align-h="end">
          <b-col cols="10"></b-col>
          <b-col cols="2">
            <b-button class="ml-5 button1" @click="resetInfoModal">Close</b-button>
          </b-col>
        </b-row>
      </b-modal>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/Loading/Loading.vue";
import moment from "moment";
export default {
  components: {
    Loading
  },
  created() {
    this.getItems();
    this.getCompanies();
  },
  data() {
    return {
      showLoading: false,
      modalShow: false,
      show: {},
      items1: [],
      items: [],
      company: "17459",
      companies: [],
      fields1: [
        {
          key: "item_name",
          label: "Item Name",
          sortable: true,
          class: "text-center"
        },
        {
          key: "old_price",
          label: "Old Price",
          sortable: true,
          class: "text-center"
        },
        {
          key: "changed_price",
          label: "Changed Price",
          sortable: true,
          class: "text-center"
        },
        {
          key: "requester",
          label: "Requester",
          sortable: true,
          class: "text-center"
        },
        {
          key: "approver",
          label: "Approver",
          sortable: true,
          class: "text-center"
        },
        {
          key: "date_effective",
          label: "Date Effect",
          sortable: true,
          class: "text-center"
        },

        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        }
      ],
      fields: [
        {
          key: "item_id",
          label: "Item ID",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "item_name",
          label: "Item Name",
          sortable: true,
          class: "text-center"
        },
        {
          key: "price",
          label: "Price",
          sortable: true,
          class: "text-center"
        },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      // pageOptions: [5, 10, 15, "All"],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },
  methods: {
      commaSeparate(num) {
      if (num) {
        num = parseFloat(num).toFixed(2);
        const num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const newNum = num_parts.join(".");
        return newNum;
      } else {
        return 0;
      }
    },
    intToTime(i) {
      const str = i.toString();
      const len = str.length;
      let time = null;
      if (len == 4) {
        const hour = str.substring(0, 2);
        const min = str.substring(2, 4);
        time = `${hour}:${min}`;
        return time;
      } else if (len == 3) {
        const hour = str.substring(0, 1);
        const min = str.substring(1, 3);
        time = `0${hour}:${min}`;
        return time;
      } else {
        return `00:00`;
      }
    },
    async getItems() {
      try{
        this.showLoading = true
      this.items = [];
      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/api/pa-items/select`,
        headers: {
          Authorization: `B1SESSION=${localStorage.SessionId}`
        },
        data: {
          company_id: this.company
        }
      });

      let v = res.data.view;

      for (let i = 0; i < v.length; i++) {
        this.items.push({
          item_id: v[i].ITEM_ID,
          item_name: v[i].ITEM_NAME,
          price: this.commaSeparate(v[i].PRICE)
        });
      }

      this.showLoading = false
      }catch(e){
        console.log(e)
        this.showLoading = false
      }
    },

    async getCompanies() {
      const res = await axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/api/companies`,
        headers: {
          Authorization: localStorage.SessionId
        }
      });
      const v = res.data.companies;

      for (let i = 0; i < v.length; i++) {
        this.companies.push({
          text: v[i].NAME,
          value: v[i].ID
        });
      }
    },

    async onRowClicked(item, index) {
      try {
        this.showLoading = true
        this.show = { ...item };

        this.items1 = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/api/pa-items/select/${item.item_id}`,
          headers: {
            Authorization: `B1SESSION=${localStorage.SessionId}`
          },
          data: {
            company_id: this.company
          }
        });

        const v = res.data.view;  
       
        for (let i = 0; i < v.length; i++) {
        const d = moment(v[i].CREATED_DATE).format("YYYY-MM-DD")
        const t = this.intToTime(v[i].CREATED_TIME)
        const date = moment(`${d} ${t}`).format("MMM DD, YYYY hh:mm A")
          this.items1.push({
            item_name: v[i].ITEM_NAME,
            old_price: v[i].OLD_PRICE,
            changed_price: v[i].NEW_PRICE,
            requester: v[i].REQUESTER,
            approver: v[i].APPROVER,
            date_effective: date
          });
        }
        this.showLoading = false
        this.$root.$emit("bv::show::modal", this.infoModal.id);
      } catch (e) {
             this.showLoading = false
      }
    },

    // info(item, index, button) {
    //   this.infoModal.title = `Row index: ${index}`;
    //   this.infoModal.content = JSON.stringify(item, null, 2);
    //   this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    // },

    redirect(row) {
      this.$router.push(`/transaction/${row.item.transaction_number}`);
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
      this.$root.$emit("bv::hide::modal", this.infoModal.id);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>
<style scoped>
html {
  background-color: #eee;
}

.color1 {
  color: #00803e;
}
.white {
  color: #eee;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
</style>