<template>
  <b-container fluid>
    <Loading v-if="showLoading" />
    <div>
      <!-- USER INTERFACE CONTROLS -->
      <b-row>
        <!-- SEARCH BAR -->
        <b-col cols="3" lg="3">
          <b-form-group>
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="request_customer_search"
                placeholder="Type to Search"
              ></b-form-input>
              <b-input-group-append>
                <b-button id="btn_customer_clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>

        <!-- DATERANGE PICKER -->
        <b-col cols="3" lg="4">
          <b-input-group size="sm" prepend="Date">
            <date-range-picker
              id="date_range_customer"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
              @change="updateValues"
              size="sm"
            >
              <div
                id="date_picker_select_customer"
                slot="input"
                style="font-size: 14px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append>
              <b-button @click="resetDate" id="btn-reset" size="sm">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="3">
          <b-dropdown
            id="filter_actions"
            class="button-sq"
            text="Filter Status"
            size="sm"
            variant="outline-secondary"
          >
            <b-form-checkbox-group
              id="status_group"
              name="flavour-2"
              class="pl-2"
              style="font-size:14px"
              v-model="filterStatus"
            >
              <b-form-checkbox id="pending_stat" value="Pending">Pending</b-form-checkbox>
              <b-form-checkbox id="request_edited_stat" value="Requested">Requested</b-form-checkbox>
            </b-form-checkbox-group>
          </b-dropdown>
        </b-col>

        <b-col cols="3" lg="2" align-h="end">
          <b-button
            id="btn_create_request_customer"
            size="md"
            @click="createCustomerRequest()"
            class="button-sq"
            variant="biotech"
          >Create Request</b-button>
        </b-col>
      </b-row>

      <b-table
        class="table"
        id="customer_request_table"
        style="font-size:13px"
        scrollable="true"
        sticky-header
        no-border-collapse
        responsive
        :filter="filter"
        show-empty
        empty-text="There are no transactions to display"
        :empty-filtered-text="`No search for ${filter} `"
        :items="filterItems"
        :fields="customerRequestfields"
        :per-page="perPage"
        :current-page="currentPage"
        :tbody-tr-class="rowClassMain"
      >
        <!-- <template v-slot:cell(name)="row">
          {{ row.value.first }} {{ row.value.last }}
        </template>-->

        <template v-slot:cell(U_STATUS)="row">
          <div class="badge-font-size" v-if="row.item.U_STATUS == 'Requested'">
            <b-badge pill variant="second-level">Requested</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill variant="first-level">Pending</b-badge>
          </div>
        </template>

        <template
          v-slot:cell(U_REQUEST_TYPE)="row"
        >{{row.item.U_REQUEST_TYPE == 'N' ? 'New':"Update"}}</template>

        <template v-slot:cell(CompanyName)="row">
          {{
          companyList.find(company => company.ID == row.item.U_COMPANY_CODE)
          ? companyList.find(
          company => company.ID == row.item.U_COMPANY_CODE
          ).COMPANYNAME
          : ""
          }}
        </template>
        <template v-slot:cell(actions)="row">
          <b-button
            id="btn-viewPostedChecks"
            v-if="row.item.U_STATUS == 'Requested'"
            size="sm"
            @click="viewRequestDetails(row.item)"
            class="button-circle mr-1"
            variant="secondary"
            v-b-tooltip.hover
            title="View Details"
          >
            <font-awesome-icon class="icons" icon="eye" />
          </b-button>

          <b-button
            id="btn-view_supplier_details"
            v-else
            size="sm"
            @click="editCustomerRequest(row.item)"
            class="button-circle"
            variant="edit"
            v-b-tooltip.hover
            title="Verify Request"
          >
            <font-awesome-icon class="icons" icon="edit" />
          </b-button>

          <b-button
            id="btn-viewPostedChecks"
            v-if="row.item.U_STATUS == 'Requested'"
            size="sm"
            @click="acceptRequest(row.item)"
            class="button-circle mr-1"
            variant="biotech"
            v-b-tooltip.hover
            title="Approve Request"
          >
            <font-awesome-icon class="icons" icon="check-double" />
          </b-button>
        </template>

        <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
            </ul>
          </b-card>
        </template>
      </b-table>
    </div>

    <hr />

    <!-- TABLE FOOTER -->
    <div>
      <b-row>
        <b-col sm="5"></b-col>
        <b-col sm="2" label-cols-sm class="mb-0">
          <b-form-group
            label-cols-sm="5"
            label-cols-md="2"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            label-for="perPageSelect"
            class="mb-0"
          >
            <b-form-select
              v-model="perPage"
              id="modules-perPageSelect"
              size="sm"
              style="font-size: 12px"
              :options="pageOptions"
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col label-cols-sm class="mb-0 mt-1">
          <div align="right" size="sm" style="color: gray; font-size: 13px;">{{ bottomLabel }}</div>
        </b-col>
        <b-col>
          <b-pagination
            id="modules-pagination"
            pills
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            align="right"
            size="sm"
            aria-controls="modules-table"
            limit="3"
          ></b-pagination>
        </b-col>
      </b-row>
    </div>

    <!--CREATE NEW CUSTOMER REQUEST-->
    <RequestModal :key="componentKey" v-on:reload="forceRerender()" />

    <!--EDIT CUSTOMER REQUEST-->
    <EditRequestModal :key="componentKey" v-on:reload="forceRerender()" :requestForm="requestForm" />

    <!-- CONFIRM SUBMIT ON EDITED REQUEST -->
    <b-modal
      size="md-1"
      header-bg-variant="dark"
      header-text-variant="light"
      id="bv-modal-confirmSubmitEditedRequest"
      class="modal"
      hide-header-close
      no-close-on-backdrop
    >
      <template v-slot:modal-title>
        <h6>Confirm Submission of Request</h6>
      </template>
      <h6>Are you sure?</h6>
      <div style="font-size: 13px">This can no longer be edited on 'Submit'.</div>

      <template v-slot:modal-footer="{}">
        <b-button
          id="btn_cancel_submitCustomer"
          size="sm"
          @click="cancelSubmitCustomerRequest()"
          style="font-size:13px;border: 0px;"
        >No</b-button>

        <b-button
          id="btn_save_submitCustomer"
          size="sm"
          variant="dark"
          @click="conmfirmSubmitCustomerRequest()"
          style="font-size:13px"
          class="button"
          :disabled="showButtonLoading === true"
        >
          <b-spinner v-show="showButtonLoading === true" small label="Spinning"></b-spinner>Yes
        </b-button>
      </template>
    </b-modal>

    <!-- VIEW DETAILS OF CUSTOMER REQUEST -->
    <ViewRequestModal
      :key="componentKey"
      v-on:reload="forceRerender()"
      :requestForm="requestForm"
    />

    <!-- CONFIRM APPROVAL OF CUSTOMER REQUEST -->
    <b-modal
      size="md"
      header-bg-variant="biotech"
      header-text-variant="light"
      id="bv-modal-acceptRequest"
      class="modal-md"
      no-close-on-backdrop
      hide-header-close
    >
      <template v-slot:modal-title>
        <h6>Approve Request</h6>
      </template>

      <div style="font-size: 13px">Would you like to 'Approve' incoming request?</div>

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          id="btn_cancel_approveSupplier"
          size="sm"
          @click="cancel()"
          class="button-modal"
        >Cancel</b-button>
        <b-button
          id="btn_approve_request"
          size="sm"
          variant="biotech"
          @click="approveRequest()"
          class="button-modal"
        >Approve</b-button>
      </template>
    </b-modal>

    <!-- ALERT MESSAGE -->
    <div>
      <b-alert
        id="alert-transfer"
        :show="alert.showAlert"
        dismissible
        fade
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="alert.variant == 'biotech' ? 'check-circle' : 'exclamation-triangle'"
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </b-container>
</template>

<script>
import moment from "moment";
import RequestModal from "@/components/Modals/RequestModal";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapMutations } from "vuex";
import { mapGetters } from "vuex";
import EditRequestModal from "@/components/Modals/EditRequestModal";
import ViewRequestModal from "@/components/Modals/ViewRequestModal";
import Loading from "~/components/Loading/Loading.vue";

export default {
  components: {
    DateRangePicker,
    RequestModal,
    EditRequestModal,
    ViewRequestModal,
    Loading
  },

  // Access Rights
  created() {},

  data() {
    return {
      alert: {
        showAlert: 0,
        variant: "biotech",
        message: ""
      },
      showLoading: false,
      requestForm: {
        U_COMPANY_CODE: null,
        U_REQUEST_TYPE: null,
        U_SIGNATORY_CODE: null,

        BPAddresses: [],
        ContactEmployees: [],
        RequestDetails: [
          {
            U_CODE: null,
            U_CARD_TYPE: null,
            U_NAME: null,
            U_CARD_FNAME: null,
            U_GROUP_CODE: null,
            U_CURRENCY: null,
            U_LIC_TRADE_NUM: null,
            U_LIST_NUM: null,
            U_GROUP_NUM: null,
            U_CREDIT_LINE: null,
            U_DEBT_LINE: null,
            U_PHONE1: null,
            U_PHONE2: null,
            U_CELLULAR: null,
            U_EMAIL: null,
            U_FAX: null,
            U_WEB_SITE: null,
            U_SLP_CODE: null,
            U_FATHER_CARD: null,
            U_FATHER_TYPE: null,
            U_DEB_PAY_ACCT: null,
            U_DPM_CLEAR: null,
            U_CONN_BP: null,
            U_VALID_FOR: null,
            U_VALID_FROM: null,
            U_VALID_TO: null,
            U_FROZEN_FOR: null,
            U_FROZEN_FROM: null,
            U_FROZEN_TO: null
          }
        ]
      },
      filter: null,
      filterStatus: ["Pending", "Requested"],
      componentKey: 0,
      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },

      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },

      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      customerRequestfields: [
        {
          key: "DocNum",
          label: "Request No.",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "RequestDetails[0].U_NAME",
          label: "Customer Name",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_REQUEST_TYPE",
          label: "Request Type",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "CompanyName",
          label: "Company",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "U_DATE_CREATED",
          label: "Date Created",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_STATUS",
          label: "Status",
          sortable: false
        },

        { key: "actions", label: "Actions" }
      ],

      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 15]
    };
  },

  computed: {
    filterItems() {
      return this.pendingList.filter(
        request =>
          request.RequestDetails[0].U_CARD_TYPE == "C" &&
          this.filterStatus.includes(request.U_STATUS)
      );
    },

    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (!this.filterItems) {
        return;
      }

      if (end > this.filterItems.length) {
        end = this.filterItems.length;
      }

      if (this.filterItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} - ${end} of ${this.filterItems.length} entries`;
    },

    ...mapGetters({
      companyList: "Company/getCompanyList",
      pendingList: "BP-Request/getPendingList"
    })
  },

  mounted() {},

  methods: {
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    async approveRequest() {
      // this.showLoading = true;
      await this.$store
        .dispatch("BP-Request/approveRequest", {
          requestForm: this.requestForm,
          user_actions: JSON.parse(localStorage.user_actions),
          SessionId: localStorage.SessionId,
          U_UPDATED_BY: JSON.parse(localStorage.user_details).Code
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
              this.showAlert(res.response.data.errorMsg, "danger");
            } else {
              this.showAlert(res.message, "danger");
            }
            this.showButtonLoading = false;
          } else {
            this.showAlert("Success", "biotech");

            this.$bvModal.hide("bv-modal-acceptRequest");
            // this.clearForm();
            this.showButtonLoading = false;
          }
        });
    },
    forceRerender() {
      this.componentKey += 1;
    },

    createCustomerRequest() {
      this.$bvModal.show("create-request-modal");
    },

    saveCustomerRequest() {
      this.$store
        .dispatch("Customer/Request/createCustomerRequest", {
          customerData: { ...this.customerDetails }
        })
        .then(res => {
          // this.showButtonLoading = false;
          this.$bvModal.hide("bv-modal-createCustomerRequestModal");
          this.clearForm();
        });
    },

    editCustomerRequest(data) {
      this.requestForm = { ...data };
      this.$bvModal.show("edit-request-modal");
    },

    saveEditedCustomerRequest() {
      this.$bvModal.show("bv-modal-confirmSubmitEditedRequest");
    },

    cancelSubmitCustomerRequest() {
      this.$bvModal.hide("bv-modal-confirmSubmitEditedRequest");
    },

    // VIEW REQUEST FUNCTIONS
    viewRequestDetails(data) {
      this.requestForm = { ...data };
      this.$bvModal.show("view-request-modal");
    },

    acceptRequest(data) {
      this.requestForm = { ...data };
      this.$bvModal.show("bv-modal-acceptRequest");
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getTransactionsWithDateRange();
    }
  },

  beforeDestroy() {},

  beforeCreate() {
    this.$store
      .dispatch("Company/fetchCompany", {
        SessionId: localStorage.SessionId
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });

    this.$store
      .dispatch("SAP/Companies/fetchCompanyList", {
        SessionId: localStorage.SessionId
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });

    this.$store
      .dispatch("BP-Request/fetchPendingList", {
        SessionId: localStorage.SessionId,
        user_actions: JSON.parse(localStorage.user_actions)
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });
  }
};
</script>
