<template>
  <!-- TODO: Refactor to SFC(Single File Components) -->
  <!-- <Header /> -->

  <div id="requests-view">
    <Loading v-if="showLoading" />
    <!--  
 <b-button id="show-btn" class="color1" @click="$bvModal.show('bv-modal-example')"><font-awesome-icon icon="search" class="icon"/>TRACE TRANSACTION</b-button>

  <b-modal id="bv-modal-example" hide-footer>
    <template v-slot:modal-title>
      TRACE TRANSACTION
    </template>
    <div class="d-block text-center">
       <b-form-input id="input-default" placeholder="Plate Number"></b-form-input>
       <br>
        <b-form-input id="input-default" placeholder="Supplier"></b-form-input>
        <br>
    </div>
    <b-button class="ml-10 button1" href="/transaction/id">Trace</b-button>
    </b-modal>-->

    <!-- <b-card class="my-4 mr-3 ml-4"> -->
      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="4" >
        <b-input-group prepend="Date" size="sm">
          <date-range-picker
            id="date_pending"
            ref="picker"
            :opens="opens1"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div slot="input" id="date_pending" >
              {{ datePicker.startDate }} - {{ datePicker.endDate }}
            </div>
          </date-range-picker>
          <b-input-group-append style="height:2rem; font-size:12px">
            <b-button
              @click="resetDate"
              id="date_reset_pending"
              style="font-size:12px"
              >Reset</b-button
            >
          </b-input-group-append>
        </b-input-group>
      </b-col>
  <b-col ></b-col>
 
      <b-col cols="3"   align="right">
        <!-- <b-form-group class="mb-0">
          <b-form-select
            id="perPageSelect_action"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group> -->
      
     
          <b-button
            size="sm"
            style="font-size:15px;"
            variant="dark"
            v-b-tooltip.hover
            title="Print Report"
          >
            <font-awesome-icon style icon="print" />
          </b-button>
          <b-button
            align="right"
            size="sm"
            class="button1"
            style="font-size:15px "
            v-b-tooltip.hover
            title="Export Report to Excel"
          >
            <font-awesome-icon icon="file-excel" />
          </b-button>
          <b-dropdown
            right
            id="filter_actions"
            size="sm"
            variant="dark"
            text="Filter"
          >
          <template v-slot:button-content>
     <font-awesome-icon icon="filter" class="mr-1" />   
    </template> 
            <b-form-checkbox-group
              
              id="status_group"
              name="flavour-2"
              class="pl-2"
              style="font-size:12px"
              v-model="filterStatus"
            >
              <b-form-checkbox id="pending_supp_stat" value="Pending"
                >Pending</b-form-checkbox
              >
              <b-form-checkbox id="cancelled_cust_stat" value="Cancelled"
                >Cancelled</b-form-checkbox
              >
            </b-form-checkbox-group>
          </b-dropdown>
     
     
    

        </b-col>

        <!--     
      <b-col>
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
        </b-col>-->
      </b-row>

      <!-- Main table element -->
      <b-table
        class="my-3"
        style="font-size:13px"
        show-empty
        small
        stacked="md"
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filterIncludedFields="filterOn"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
        @row-clicked="onRowClicked"
      >
        <template v-slot:cell(name)="row">{{ row.value.first }} {{ row.value.last }}</template>

        <!-- <template v-slot:cell(actions)="row">
        <b-button size="sm" @click="info(row.item, row.index, $event.target)" class="mr-1">
          Info modal
        </b-button>
        <b-button v-if="row.item.status === 'For Inbound'" block class="button1" size="sm" @click="redirect(row)" > 
          Inbound
          
        </b-button>

         <b-button v-else class="button2" size="sm" block @click="redirect(row)" > 
          Outbound
          
        </b-button>
        </template>-->
        <template v-slot:cell(status)="row">
          <div class="badge-font-size" v-if="row.item.status == 'Approved'">
            <b-badge
              pill
              block
              style="font-size:0.7rem;background-color:green"
            >{{ row.item.status }}</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill block style="font-size:0.7rem;background-color:red">{{ row.item.status }}</b-badge>
          </div>
        </template>
        <template v-slot:row-details="row">
          <b-card>
            <ul>
              <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
            </ul>
          </b-card>
        </template>
      </b-table>

      <b-row align-h="end">
        <b-col cols="6">{{ bottomLabel }}</b-col>

        <b-col cols="6">
          <b-pagination
            id="pagination"
            pills
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="right"
            size="sm"
          ></b-pagination>
        </b-col>
      </b-row>

      <!-- Info modal -->
      <!-- <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
      <pre>{{ infoModal.content }}</pre>
      </b-modal>-->
      <b-modal :id="infoModal.id" title="History Detail" button-size="sm" hide-footer>
        <div id="wizard-content">
          <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
              <div class="stepwizard-step col-xs-3" id="link1">
                <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">
                  <font-awesome-icon style="font-size:1.5em;color:white" icon="check" />
                </a>
                <p>
                  <small>
                    Step 1: Requestor
                    <br />
                    {{show.created_by}}
                    <br />
                    {{show.date_created}}
                  </small>
                </p>
              </div>

              <div
                class="stepwizard-step col-xs-3"
                v-for="(approval, i) in show.approvals"
                :key="approval.Code"
              >
                <a
                  href="#"
                  type="button"
                  class="btn btn-default btn-circle"
                  disabled="disabled"
                  v-if="approval.U_IS_APPROVED === 1"
                >
                  <font-awesome-icon style="font-size:1.5em;color:white" icon="check" />
                </a>

                <a
                  href="#"
                  type="button"
                  class="btn btn-default btn-circle1"
                  disabled="disabled"
                  v-if="approval.U_IS_APPROVED === 0"
                >
                  <font-awesome-icon style="font-size:1.5em;color:white" icon="times" />
                </a>

                <a
                  href="#"
                  type="button"
                  class="btn btn-default btn-circle2"
                  disabled="disabled"
                  v-if="approval.U_IS_APPROVED === null"
                >
                  <font-awesome-icon style="font-size:1.5em;color:white" icon="question" />
                </a>

                <p>
                  <small>
                    Level {{approval.U_LEVEL}}: Approver
                    <br />
                    {{approval.APPROVER_NAME}}
                    <br />
                    {{approval.date}}
                  </small>
                </p>
              </div>

              <div class="stepwizard-step col-xs-3" id="link4" v-if="status === 'Approved'">
                <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">
                  <font-awesome-icon style="font-size:1.5em;color:white" icon="check" />
                </a>
                <p>
                  <small>
                    <b>Approved</b>
                  </small>
                </p>
              </div>
              <div class="stepwizard-step col-xs-3" id="link4" v-if="status === 'Disapproved'">
                <a href="#" type="button" class="btn btn-default btn-circle1" disabled="disabled">
                  <font-awesome-icon style="font-size:1.5em;color:white" icon="times" />
                </a>
                <p>
                  <small>
                    <b>Disapproved</b>
                  </small>
                </p>
              </div>
            </div>
          </div>
          <b-card>
            <p>
              Name : {{show.item_name}}
              <br />
              Current Price : {{show.new_price}}
              <br />
              Old Price : {{show.old_price}}
            </p>
          </b-card>
        </div>
      </b-modal>
    <!-- </b-card> -->
  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/Loading/Loading.vue";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
export default {
  components: {
    Loading,
    DateRangePicker
  },
  created() {
    this.getReports();
  },
  data() {
    return {
      showLoading: false,
      modalShow: false,
      items: [],
      fields: [
        {
          key: "item_name",
          label: "Item Name",
          sortable: true,
          class: "text-center"
        },
        {
          key: "new_price",
          label: "New Price",
          sortable: true,
          class: "text-center"
        },
        {
          key: "old_price",
          label: "Old Price",
          sortable: true,
          class: "text-center"
        },
        // {
        //   key: "discount",
        //   label: "Discount",
        //   sortable: true,
        //   class: "text-center"
        // },
        {
          key: "created_by",
          label: "Created By",
          sortable: true,
          class: "text-center"
        },

        {
          key: "date_created",
          label: "Date Created ",
          sortable: true,
          class: "text-center"
        },
        {
          key: "company_name",
          label: "Company",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
          class: "text-center"
        },

        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        }
        // { key: "actions", label: "Actions", class: "text-center" }
      ],
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      currentPage: 1,
      status: "",
      show: {},
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    this.totalRows = this.items.length;
  },
  methods: {
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
      this.$store
        .then(res => {
          if (res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));},
    commaSeparate(num) {
      if (num) {
        num = parseFloat(num).toFixed(2);
        const num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const newNum = num_parts.join(".");
        return newNum;
      } else {
        return 0;
      }
    },
    intToTime(i) {
      
      const str = i.toString();
      const len = str.length;
      let time = null;
      if (len == 4) {
        const hour = str.substring(0, 2);
        const min = str.substring(2, 4);
        time = `${hour}:${min}`;
        return time;
      } else if (len == 3) {
        const hour = str.substring(0, 1);
        const min = str.substring(1, 3);
        time = `0${hour}:${min}`;
        return time;
      } else {
        return `00:00`;
      }
    },
    async getReports() {
      try {
        this.showLoading = true
        this.items = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/api/pa-reports/select`,
          headers: {
            Authorization: `B1SESSION=${localStorage.SessionId}`
          },
          data: {
            date_from: "2020-03-08",
            date_to: "2020-04-11"
          }
        });

        let v = res.data.view;
      
        for (let i = 0; i < v.length; i++) {
        const d = moment(v[i].DATE_REQUESTED).format("YYYY-MM-DD")
        const t = this.intToTime(v[i].TIME_REQUESTED)
        const date = moment(`${d} ${t}`).format("MMM DD, YYYY hh:mm A")
          this.items.push({
            request_id: v[i].REQUEST_ID,
            item_id: v[i].ITEM_ID,
            item_name: v[i].ITEM_NAME,
            old_price: this.commaSeparate(v[i].OLD_PRICE),
            new_price: this.commaSeparate(v[i].NEW_PRICE),
            created_by: v[i].REQUESTER_NAME,
            date_created: date,
            status: v[i].STATUS,
            company_name: v[i].COMPANY_NAME,
            db_name: v[i].DB_NAME
          });
        }
          this.showLoading = false
      } catch (e) {
        console.log(e);
          this.showLoading = false
      }
    },

    async onRowClicked(item, index) {
      try {
        this.showLoading = true
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/api/pa-transactions/approvals/select/${item.request_id}`,
          headers: {
            Authorization: `B1SESSION=${localStorage.SessionId}`
          },
          data: {
            company: item.db_name
          }
        });

        item.approvals = res.data.view;
        console.log(item.approvals)
        for(let i = 0; i< item.approvals.length; i++){  

        if(item.approvals[i].U_IS_APPROVED !== null){   
        const d = moment(item.approvals[i].U_DATE_OF_APPROVAL).format("YYYY-MM-DD")
        const t = this.intToTime(item.approvals[i].U_TIME_OF_APPROVAL)
        const date = moment(`${d} ${t}`).format("MMM DD, YYYY hh:mm A")
        item.approvals[i].date = date
        }

        }
       
        console.log(item)
        this.show = { ...item };
        this.status = item.status;
        
        this.$root.$emit("bv::show::modal", this.infoModal.id);
        this.showLoading = false
        
      } catch (e) {
        console.log(e)
        this.showLoading = false

      }
    },

    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    redirect(row) {
      this.$router.push(`/transaction/${row.item.transaction_number}`);
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>

<style >
html {
  background-color: #eee;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
/* .right {
  position: absolute;
  left: 25px;
} */

/* Wizard CSS Begin */

.stepwizard-step p {
  margin-top: 0px;
  color: black;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard .btn.disabled,
.stepwizard .btn[disabled],
.stepwizard fieldset[disabled] .btn {
  opacity: 1 !important;
  color: Black;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 5px;
  background-color: #c6d3cc;
  z-index: 0;
  left: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #00803e;
  background-color: #00803e;
}
.btn-circle1 {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #d80808;
  background-color: #d80808;
}

.btn-circle2 {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 4px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: grey;
  background-color: grey;
}


/* Date Range */
.reportrange-text[data-v-fffebcea] {
  /* background: #fff; */
  /* cursor: pointer; */
  /* padding: 5px 10px; */
  border: 1px solid #ccc;
  height: 2rem;
  width: 14rem;
  font-size: 12px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
   border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #00a651;
  border-color: transparent;
  color: #fff;
}
.daterangepicker .ranges li.active {
  background-color: #00a651;
  color: #fff;
}

</style>
