<template>
  <b-container fluid>
    <Loading v-if="showLoading" />

    <!-- ALERT MESSAGE -->
    <div>
      <b-alert
        id="alert-process"
        :show="alert.showAlert"
        dismissible
        fade
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>

    <b-modal
      size="xl"
      header-text-variant="dark"
      id="create-request-modal"
      class="modal-xl"
      no-close-on-backdrop
      hide-footer
      scrollable
      @hidden="$emit('reload')"
      @show="showModal()"
    >
      <template v-slot:modal-title>
        <h6>
          Create Request
        </h6>
      </template>
      <div class="formStepper">
        <form-wizard
          @on-complete="saveCreateRequest"
          :start-index="0"
          color="#00a651"
          ref="formWizard"
        >
          <h3 slot="title" style="color:#fff"></h3>

          <!-- DETAILS TERMS -->
          <tab-content title="Details">
            <b-tabs
              v-model="supp_request_tabIndex"
              content-class="mt-3"
              card
              small
            >
              <b-tab
                id="supp_details"
                title="GENERAL"
                class="tab"
                active-nav-item-class="font-weight-bold text-uppercase text-biotech"
              >
                <b-card class="cardShadow">
                  <small class="ml-1" style="font-size:12px; color:#00a651"
                    ><em>* Required Fields</em></small
                  >
                  <br />
                  <b-row>
                    <b-col cols="4">
                      <small class="ml-1">Company *</small>
                      <b-form-select
                        id="company_supp_add"
                        v-model="requestForm.U_COMPANY_CODE"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        required
                        @change="fetchAllDetails()"
                      >
                        <option id="select-bp_type" :value="null" disabled
                          >Select Company</option
                        >
                        <option
                          v-for="(company, i) of companyList"
                          :key="i"
                          :value="company.ID"
                          >{{ company.COMPANYNAME }}</option
                        >
                      </b-form-select>
                    </b-col>

                    <b-col cols="4">
                      <small class="ml-1">Business Partner Type *</small>
                      <b-form-select
                        id="bp_type_supp_add"
                        v-model="requestForm.RequestDetails[0].U_CARD_TYPE"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        required
                      >
                        <option id="select-bp_type" :value="null" disabled
                          >Select Business Partner Type</option
                        >
                        <option id="select-bp_type" value="S">Supplier</option>
                        <option id="select-bp_type" value="C">Customer</option>
                      </b-form-select>
                    </b-col>

                    <b-col cols="4">
                      <small class="ml-1">Request Type *</small>
                      <b-form-select
                        id="request_type_supp_add"
                        v-model="requestForm.U_REQUEST_TYPE"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        required
                      >
                        <option id="select-request_type" :value="null" disabled
                          >Select Request Type</option
                        >
                        <option id="select-request_type" value="N">New</option>
                        <option id="select-request_type" value="U"
                          >Update</option
                        >
                      </b-form-select>
                    </b-col>
                  </b-row>
                </b-card>
                <hr />
                <b-row>
                  <b-col cols="6">
                    <b-card class="cardShadow">
                      <b-row v-if="requestForm.U_REQUEST_TYPE == 'U'">
                        <b-col>
                          <b-button
                            id="add_user"
                            size="sm"
                            pill
                            variant="biotech"
                            class="button mb-3"
                            style="font-size:12px; box-shadow:0px 10px 20px -10px #000000"
                            v-b-tooltip.hover
                            title="Find"
                            @click="findPartners()"
                          >
                            <font-awesome-icon icon="search" class="mr-1" />Find
                            Business Partner
                          </b-button>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Name *</small>
                          <b-form-input
                            id="supp_name_add"
                            v-model="requestForm.RequestDetails[0].U_NAME"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                            required
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Foreign Name *</small>
                          <b-form-input
                            id="foreign_name_supp_add"
                            v-model="requestForm.RequestDetails[0].U_CARD_FNAME"
                            size="sm"
                            class="form-text"
                            style="font-size:10px"
                            required
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Group *</small>
                          <b-form-select
                            id="group_supp_add"
                            v-model="requestForm.RequestDetails[0].U_GROUP_CODE"
                            size="sm"
                            class="form-text"
                            style="font-size:10px"
                            required
                          >
                            <option
                              id="select-supp_group"
                              :value="null"
                              disabled
                              >Select Group</option
                            >
                            <option
                              :key="i"
                              v-for="(group, i) in filterBPGroups"
                              :value="group.Code"
                              >{{ group.Name }}</option
                            >
                          </b-form-select>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Currency *</small>
                          <b-form-select
                            id="currency_supp_add"
                            v-model="requestForm.RequestDetails[0].U_CURRENCY"
                            size="sm"
                            class="form-text"
                            style="font-size:10px"
                            required
                          >
                            <option id="select-currency" :value="null" disabled
                              >Select Currency</option
                            >
                            <option
                              v-for="(currency, i) of currencyList"
                              :key="i"
                              :value="currency.Code"
                              >{{ currency.DocumentsCode }}</option
                            >
                          </b-form-select>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">TIN *</small>
                          <b-form-input
                            id="tin_supp_add"
                            v-model="
                              requestForm.RequestDetails[0].U_LIC_TRADE_NUM
                            "
                            size="sm"
                            class="form-text"
                            style="font-size:10px"
                            required
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Telephone No. 1 *</small>
                          <b-form-input
                            id="telephone_no_supp_add"
                            v-model="requestForm.RequestDetails[0].U_PHONE1"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                            required
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Telephone No. 2</small>
                          <b-form-input
                            id="telephone_no_supp_add"
                            v-model="requestForm.RequestDetails[0].U_PHONE2"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Mobile No.</small>
                          <b-form-input
                            id="mobile_no_supp_add"
                            v-model="requestForm.RequestDetails[0].U_CELLULAR"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Fax</small>
                          <b-form-input
                            id="mobile_no_supp_add"
                            v-model="requestForm.RequestDetails[0].U_FAX"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">E-mail Address</small>
                          <b-form-input
                            id="mobile_no_supp_add"
                            v-model="requestForm.RequestDetails[0].U_EMAIL"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Web Site</small>
                          <b-form-input
                            id="mobile_no_supp_add"
                            v-model="requestForm.RequestDetails[0].U_WEB_SITE"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Sales Employee</small>
                          <b-form-select
                            id="mobile_no_supp_add"
                            v-model="requestForm.RequestDetails[0].U_SLP_CODE"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          >
                            <option id="select-sales-emp" :value="null" disabled
                              >Select Sales Employee</option
                            >
                            <option
                              v-for="(emp, i) of salesEmployeeList"
                              :key="i"
                              :value="emp.SlpCode"
                              >{{ emp.SlpName }}</option
                            >
                          </b-form-select>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-col>

                  <b-col cols="6">
                    <b-card class="cardShadow">
                      <b-row>
                        <b-form-checkbox-group
                          id="stat_supp_add"
                          name="flavour-2"
                          class="pl-2"
                          style="font-size:14px"
                          v-model="stat_supp_add"
                        >
                          <b-form-checkbox id="issue_invoice" value="true"
                            >Active</b-form-checkbox
                          >
                          <b-form-checkbox id="issue_invoice" value="false"
                            >Inactive</b-form-checkbox
                          >
                        </b-form-checkbox-group>
                      </b-row>
                      <br />
                      <!-- <b-row style="margin-left: 4rem">
                        <b-col>
                          <b-input-group size="md" prepend="Date">
                            <date-range-picker
                              id="date_range_supplier"
                              ref="picker"
                              :opens="opens"
                              :locale-data="localeData"
                              :autoApply="true"
                              :singleDatePicker="false"
                              :showWeekNumbers="true"
                              v-model="datePicker"
                              @update="updateValues"
                              @change="updateValues"
                              size="sm"
                            >
                              <div
                                id="date_picker_select_supplier"
                                slot="input"
                                style="font-size: 14px;"
                              >
                                {{ datePicker.startDate }} -
                                {{ datePicker.endDate }}
                              </div>
                            </date-range-picker>
                            <b-input-group-append>
                              <b-button
                                @click="resetDate"
                                id="btn-reset"
                                size="sm"
                                >Reset</b-button
                              >
                            </b-input-group-append>
                          </b-input-group>
                        </b-col>
                      </b-row> -->
                    </b-card>
                  </b-col>
                </b-row>
              </b-tab>

              <!-- PAYMENT TERMS TAB -->
              <b-tab id="payment_terms" title="PAYMENT TERMS" class="tab">
                <b-row>
                  <b-col cols="6">
                    <b-card class="cardShadow">
                      <small class="ml-1" style="font-size:12px; color:#00a651"
                        ><em>* Required Fields</em></small
                      >
                      <br />
                      <b-row>
                        <b-col>
                          <small class="ml-1">Payment Terms *</small>
                          <b-form-select
                            id="payment_terms_supp_add"
                            v-model="requestForm.RequestDetails[0].U_GROUP_NUM"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          >
                            <option
                              id="select-supp_payment_terms"
                              :value="null"
                              disabled
                              >Select Term</option
                            >
                            <option
                              v-for="(payment, i) of paymentTermList"
                              :key="i"
                              :value="payment.GroupNumber"
                              >{{ payment.PaymentTermsGroupName }}</option
                            >
                          </b-form-select>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Price List *</small>
                          <b-form-select
                            id="price_list_supp_add"
                            v-model="requestForm.RequestDetails[0].U_LIST_NUM"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          >
                            <option
                              id="select-supp_price_lists"
                              :value="null"
                              disabled
                              >Select Price List</option
                            >
                            <option
                              v-for="(price, i) of priceList"
                              :key="i"
                              :value="price.PriceListNo"
                              >{{ price.PriceListName }}</option
                            >
                          </b-form-select>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Credit Limit</small>
                          <b-form-input
                            id="credit_limit_supp_add"
                            v-model="
                              requestForm.RequestDetails[0].U_CREDIT_LINE
                            "
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <small class="ml-1">Commitment Limit</small>
                          <b-form-input
                            id="commitment_limit_supp_add"
                            v-model="requestForm.RequestDetails[0].U_DEBT_LINE"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-col>
                </b-row>
              </b-tab>

              <!-- ACCOUNTING TAB -->
              <b-tab
                id="accounting"
                title="ACCOUNTING"
                class="tab"
                v-if="
                  user_role.Name.search('Financials') >= 0 ||
                    user_role.Name.search('Admin') >= 0
                "
              >
                <b-row>
                  <b-col cols="6">
                    <b-card class="cardShadow">
                      <small class="ml-1" style="font-size:12px; color:#00a651"
                        ><em>* Required Fields</em></small
                      >
                      <br />
                      <b-row>
                        <b-col cols="10">
                          <small class="ml-1">Consolidating BP</small>
                          <b-form-input
                            id="con_bp_supp_add"
                            v-model="
                              requestForm.RequestDetails[0].U_FATHER_CARD
                            "
                            size="sm"
                            style="font-size:12px"
                            class="form-text"
                          >
                          </b-form-input>
                          <b-form-group>
                            <b-row>
                              <b-col>
                                <b-form-radio
                                  v-model="
                                    requestForm.RequestDetails[0].U_FATHER_TYPE
                                  "
                                  value="P"
                                  style="font-size:13px"
                                  >Payment Consolidation</b-form-radio
                                >
                              </b-col>
                              <b-col>
                                <b-form-radio
                                  v-model="
                                    requestForm.RequestDetails[0].U_FATHER_TYPE
                                  "
                                  value="D"
                                  style="font-size:13px"
                                  >Delivery Consolidation</b-form-radio
                                >
                              </b-col>
                            </b-row>
                          </b-form-group>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col cols="10">
                          <small class="ml-1">Accounts Receivable *</small>
                          <b-form-input
                            id="credit_limit_supp_add"
                            v-model="
                              requestForm.RequestDetails[0].U_DEB_PAY_ACCT
                            "
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                        <b-col>
                          <b-button
                            id="deb_pay_supp_add"
                            size="sm"
                            variant="biotech"
                            class="button-circle mt-3"
                            style="font-size:12px; box-shadow:0px 10px 20px -10px #000000"
                            v-b-tooltip.hover
                            title="Find"
                            @click="findAccounts(1)"
                          >
                            <font-awesome-icon icon="search" class="mr-1" />
                          </b-button>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col cols="10">
                          <small class="ml-1"
                            >Down Payment Clearing Account *</small
                          >
                          <b-form-input
                            id="clearing_accnt_supp_add"
                            v-model="requestForm.RequestDetails[0].U_DPM_CLEAR"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                        <b-col>
                          <b-button
                            id="add_user"
                            size="sm"
                            variant="biotech"
                            class="button-circle mt-3"
                            style="font-size:12px; box-shadow:0px 10px 20px -10px #000000"
                            v-b-tooltip.hover
                            title="Find"
                            @click="findAccounts(2)"
                          >
                            <font-awesome-icon icon="search" class="mr-1" />
                          </b-button>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col cols="10">
                          <small class="ml-1">Connected Vendor</small>
                          <b-form-input
                            id="connected_bp_supp_add"
                            v-model="requestForm.RequestDetails[0].U_CONN_BP"
                            size="sm"
                            style="font-size:10px"
                            class="form-text"
                          ></b-form-input>
                        </b-col>
                        <b-col>
                          <b-button
                            id="add_connected_bp"
                            size="sm"
                            variant="biotech"
                            class="button-circle mt-3"
                            style="font-size:12px; box-shadow:0px 10px 20px -10px #000000"
                            v-b-tooltip.hover
                            title="Find"
                            @click="findConnectedBp()"
                          >
                            <font-awesome-icon icon="search" class="mr-1" />
                          </b-button>
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-col>
                </b-row>
              </b-tab>
            </b-tabs>
          </tab-content>

          <!-- ADDRESSES -->
          <tab-content title="Addresses" icon="ti-settings">
            <b-row>
              <b-col cols="4">
                <b-card class="cardShadow">
                  <small class="ml-1" style="font-size:12px; color:#00a651"
                    ><em>* Required Fields</em></small
                  >
                  <br />
                  <b-row>
                    <b-col>
                      <small class="ml-1">Address Type *</small>
                      <b-form-select
                        id="address_type_supp_add"
                        v-model="addressForm.U_ADDRESS_TYPE"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      >
                        <option
                          id="select-supp_address_type"
                          :value="null"
                          disabled
                          >Select Address Type</option
                        >
                        <option id="select-supp_address_type" value="B"
                          >Bill To</option
                        >
                        <option id="select-supp_address_type" value="S"
                          >Ship To</option
                        >
                      </b-form-select>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Address ID *</small>
                      <b-form-input
                        id="address1_add"
                        v-model="addressForm.U_ADDRESS"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      >
                      </b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Address 2</small>
                      <b-form-input
                        id="address2_add"
                        v-model="addressForm.U_ADDRESS2"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Address 3</small>
                      <b-form-input
                        id="address3_add"
                        v-model="addressForm.U_ADDRESS3"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Street *</small>
                      <b-form-input
                        id="street_add"
                        v-model="addressForm.U_STREET"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Street No.</small>
                      <b-form-input
                        id="street_no_add"
                        v-model="addressForm.U_STREET_NO"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Building / Floor / Room</small>
                      <b-form-input
                        id="bldg_flr_rm_add"
                        v-model="addressForm.U_BUILDING"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Block</small>
                      <b-form-input
                        id="block_add"
                        v-model="addressForm.U_BLOCK"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Town / City</small>
                      <b-form-input
                        id="town_city_supp_add"
                        v-model="addressForm.U_CITY"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Zip Code</small>
                      <b-form-input
                        id="zip_code_add"
                        v-model="addressForm.U_ZIPCODE"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">County</small>
                      <b-form-input
                        id="county_add"
                        v-model="addressForm.U_COUNTY"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Country *</small>
                      <b-form-select
                        id="country_supp_add"
                        v-model="addressForm.U_COUNTRY"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        @change="fetchStates()"
                      >
                        <option id="select-country" :value="null" disabled
                          >Select Country</option
                        >
                        <option
                          v-for="(country, i) of countryList"
                          :key="i"
                          :value="country.Code"
                          >{{ country.Name }}</option
                        >
                      </b-form-select>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Province / State</small>
                      <b-form-select
                        id="state_supp_add"
                        v-model="addressForm.U_STATE"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      >
                        <option id="select-state" :value="null" disabled
                          >Select State</option
                        >
                        <option
                          v-for="(state, i) of stateList"
                          :key="i"
                          :value="state.Code"
                          >{{ state.Name }}</option
                        >
                      </b-form-select>
                    </b-col>
                  </b-row>
                  <br />
                  <b-row>
                    <b-btn
                      id="add_address_supp"
                      pill
                      block
                      size="md"
                      style="width:18.5rem"
                      variant="biotech"
                      class="button-sq mt-3"
                      @click="addAddress()"
                      >ADD ADDRESS</b-btn
                    >
                  </b-row>
                </b-card>
              </b-col>
              <b-col>
                <b-card class="cardShadow">
                  <b-table
                    class="table"
                    id="address_table_supp"
                    style="font-size:13px"
                    scrollable="true"
                    sticky-header
                    no-border-collapse
                    responsive
                    :filter="filter"
                    show-empty
                    empty-text="There are no transactions to display"
                    :empty-filtered-text="`No search for ${filter} `"
                    :items="requestForm.BPAddresses"
                    :fields="fieldAddressTable"
                    :per-page="perPage"
                    :current-page="currentPage"
                    :tbody-tr-class="rowClassMain"
                  >
                    <template v-slot:cell(U_ADDRESS_TYPE)="row">
                      {{
                        row.item.U_ADDRESS_TYPE == "B" ? "Bill To" : "Ship To"
                      }}
                    </template>

                    <template v-slot:cell(actions)="row">
                      <div>
                        <b-button
                          id="btn_remove_address"
                          size="sm"
                          @click="removeAddress(row.index)"
                          class="button-circle mr-1"
                          variant="danger"
                          v-b-tooltip.hover
                          title="Remove"
                        >
                          <font-awesome-icon
                            style="font-size: 13px"
                            icon="minus"
                          />
                        </b-button>
                      </div>
                    </template>
                  </b-table>
                </b-card>
              </b-col>
            </b-row>
          </tab-content>

          <!-- CONTACTS -->
          <tab-content title="Contacts" icon="ti-settings">
            <b-row>
              <b-col cols="4">
                <b-card class="cardShadow">
                  <small class="ml-1" style="font-size:12px; color:#00a651"
                    ><em>* Required Fields</em></small
                  >
                  <br />
                  <b-row>
                    <b-col>
                      <small class="ml-1">Contact ID *</small>
                      <b-form-input
                        id="contact_id_add"
                        v-model="contactForm.U_NAME"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Contact Title</small>
                      <b-form-input
                        id="contact_title_supp_add"
                        v-model="contactForm.U_TITLE"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">First Name *</small>
                      <b-form-input
                        id="contacts_fname_supp_add"
                        v-model="contactForm.U_FIRST_NAME"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Middle Name</small>
                      <b-form-input
                        id="contacts_mname_supp_add"
                        v-model="contactForm.U_MIDDLE_NAME"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Last Name *</small>
                      <b-form-input
                        id="contacts_lname_supp_add"
                        v-model="contactForm.U_LAST_NAME"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Job Title</small>
                      <b-form-input
                        id="contacts_job_title_supp_add"
                        v-model="contactForm.U_POSITION"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Address</small>
                      <b-form-input
                        id="contacts_address_supp_add"
                        v-model="contactForm.U_ADDRESS"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Telephone No. 1</small>
                      <b-form-input
                        id="contacts_phone_no_supp_add"
                        v-model="contactForm.U_TEL1"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Telephone No. 2</small>
                      <b-form-input
                        id="contacts_phone_no_supp_add"
                        v-model="contactForm.U_TEL2"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Mobile No.</small>
                      <b-form-input
                        id="contacts_mobile_no_supp_add"
                        v-model="contactForm.U_CELLULAR"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Fax No.</small>
                      <b-form-input
                        id="contacts_fax_no_supp_add"
                        v-model="contactForm.U_FAX"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Email Address</small>
                      <b-form-input
                        id="email_add_contacts_supp_add"
                        v-model="contactForm.U_EMAIL"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <br />
                  <b-row>
                    <b-btn
                      id="add_contacts_supp"
                      v-model="add_address_supp"
                      pill
                      block
                      size="md"
                      style="width:18.5rem"
                      variant="biotech"
                      class="button-sq mt-3"
                      @click="addContact()"
                      >ADD CONTACT</b-btn
                    >
                  </b-row>
                </b-card>
              </b-col>
              <b-col>
                <b-card class="cardShadow">
                  <b-table
                    class="table"
                    id="address_table_supp"
                    style="font-size:13px"
                    scrollable="true"
                    sticky-header
                    no-border-collapse
                    responsive
                    :filter="filter"
                    show-empty
                    empty-text="There are no transactions to display"
                    :empty-filtered-text="`No search for ${filter} `"
                    :items="requestForm.ContactEmployees"
                    :fields="fieldContactsTable"
                    :per-page="perPage"
                    :current-page="currentPage"
                    :tbody-tr-class="rowClassMain"
                  >
                    <template v-slot:cell(actions)="row">
                      <div>
                        <b-button
                          id="btn_remove_contact"
                          size="sm"
                          @click="removeContact(row.index)"
                          class="button-circle mr-1"
                          variant="danger"
                          v-b-tooltip.hover
                          title="Remove"
                        >
                          <font-awesome-icon
                            style="font-size: 13px"
                            icon="minus"
                          />
                        </b-button>
                      </div>
                    </template>

                    <template v-slot:cell(FullName)="row">
                      {{ row.item.U_FIRST_NAME }} {{ row.item.U_LAST_NAME }}
                    </template>
                  </b-table>
                </b-card>
              </b-col>
            </b-row>
          </tab-content>

          <!-- ATTACHMENTS -->
          <tab-content title="Attachments" icon="ti-check">
            <b-row>
              <b-col cols="4">
                <b-card class="cardShadow">
                  <b-row>
                    <b-col>
                      <small class="ml-1"><b>Documents</b></small>
                      <b-form-checkbox-group
                        id="attachments_group_supp_add"
                        name="flavour-2"
                        class="pl-2"
                        style="font-size:14px"
                        v-model="attachments"
                      >
                        <b-col>
                          <b-form-checkbox id="bir_cert" value="BIR"
                            >BIR Certificate of Registration</b-form-checkbox
                          >
                        </b-col>
                        <b-col>
                          <b-form-checkbox id="dti_cert" value="DTI"
                            >DTI Certificate of Registration</b-form-checkbox
                          >
                        </b-col>
                        <b-col>
                          <b-form-checkbox id="sec_cert" value="SEC"
                            >SEC Certificate of Registartion with Latest
                            SIS</b-form-checkbox
                          >
                        </b-col>
                        <b-col>
                          <b-form-checkbox id="invoice_dr_or" value="Invoice-DR"
                            >Sample Invoice / DR / OR</b-form-checkbox
                          >
                        </b-col>
                        <b-col>
                          <b-form-checkbox
                            id="letter_change_busName"
                            value="Letter"
                            >Letter Informing Change in Business Name (if
                            applicable)</b-form-checkbox
                          >
                        </b-col>
                        <b-col>
                          <b-form-checkbox
                            id="business_permit"
                            value="Business-Permit"
                            >Business Permit</b-form-checkbox
                          >
                        </b-col>
                        <b-col>
                          <b-form-checkbox id="price_list" value="Price-List"
                            >Latest Price List</b-form-checkbox
                          >
                        </b-col>
                      </b-form-checkbox-group>
                    </b-col>
                    <br />
                    <b-col>
                      <small class="ml-1"
                        ><b>For Change Payee Name ONLY</b></small
                      >
                      <b-form-checkbox-group
                        id="change_payee_group_supp_add"
                        name="flavour-2"
                        class="pl-2"
                        style="font-size:14px"
                        v-model="change_payee_name"
                      >
                        <b-col>
                          <b-form-checkbox
                            id="letter_authority"
                            value="Letter-Of-Authority"
                            >Letter of Authority</b-form-checkbox
                          >
                        </b-col>
                        <b-col>
                          <b-form-checkbox
                            id="notarized_spa"
                            value="Notarized-SPA"
                            >Notarized SPA</b-form-checkbox
                          >
                        </b-col>
                        <b-col>
                          <b-form-checkbox
                            id="board_resolution"
                            value="BOARD-RESOLUTION"
                            >Notarized Board Resolution</b-form-checkbox
                          >
                        </b-col>
                      </b-form-checkbox-group>
                    </b-col>
                    <br />
                    <b-col>
                      <small class="ml-1"><b>Issue Invoice?</b></small>
                      <b-form-checkbox-group
                        id="invoice_supp_add"
                        name="flavour-2"
                        class="pl-2"
                        style="font-size:14px"
                        v-model="invoice"
                      >
                        <b-col>
                          <b-form-checkbox id="issue_invoice" value="Invoice"
                            >Issue Invoice</b-form-checkbox
                          >
                        </b-col>
                      </b-form-checkbox-group>
                    </b-col>
                  </b-row>
                </b-card>
              </b-col>

              <b-col>
                <b-card class="cardShadow">
                  <UploadAttachments />
                </b-card>
              </b-col>
            </b-row>
          </tab-content>

          <!-- SIGNATORIES -->
          <tab-content
            title="Signatories"
            icon="ti-check"
            v-if="requestForm.RequestDetails[0].U_CARD_TYPE == 'S'"
          >
            <b-card class="cardShadow">
              <b-row>
                <b-col>
                  <small class="ml-1">Full Name</small>
                  <b-form-select
                    id="signatories_name_supp_add"
                    v-model="requestForm.U_SIGNATORY_CODE"
                    size="sm"
                    style="font-size:10px"
                    class="form-text"
                    @change="setPosition()"
                  >
                    <option id="select-signatory_name" :value="null" disabled
                      >Select Name</option
                    >
                    <option
                      v-for="(signatory, i) of signatoriesList"
                      :key="i"
                      :value="signatory.Code"
                      >{{ signatory.FirstName }}
                      {{ signatory.LastName }}</option
                    >
                  </b-form-select>
                </b-col>
                <b-col>
                  <small class="ml-1">Position</small>
                  <b-form-input
                    id="position_supp_add"
                    size="sm"
                    style="font-size:10px"
                    class="form-text"
                    v-model="position"
                  >
                  </b-form-input>
                </b-col>
              </b-row>
            </b-card>
          </tab-content>
          <hr />
        </form-wizard>

        <!-- FIND ACCOUNTS-->
        <b-modal
          size="lg"
          header-bg-variant="biotech"
          header-text-variant="light"
          body-bg-variant="light"
          id="find-accounts-modal"
        >
          <template v-slot:modal-title>
            <h6>List Of Accounts</h6>
          </template>

          <b-card class="cardShadow">
            <b-row class="mb-2">
              <b-col cols="6">
                <b-form-input
                  id="first_name_add_modal"
                  type="text"
                  placeholder="Search"
                  v-model="filterUser"
                  style="font-size:12px"
                ></b-form-input>
              </b-col>
            </b-row>

            <b-table
              class="mt-4"
              ref="selectableTable"
              selectable
              show-empty
              :busy="isBusy"
              select-mode="single"
              :current-page="currentPageAccount"
              :per-page="perPages"
              :items="filterChartOfAccount"
              :fields="accountItems"
              :filter="filterUser"
              @row-selected="onRowSelected"
              responsive="sm"
            >
              <!-- Example scoped slot for select state illustrative purposes -->
              <template v-slot:cell(selected)="{ rowSelected }">
                <template v-if="rowSelected">
                  <span aria-hidden="true">&check;</span>
                  <span class="sr-only">Selected</span>
                </template>
                <template v-else>
                  <span aria-hidden="true">&nbsp;</span>
                  <span class="sr-only">Not selected</span>
                </template>
              </template>

              <template v-slot:table-busy>
                <div class="text-center text-secondary my-2">
                  <b-spinner small class="align-middle"></b-spinner>
                  <strong>&nbsp;Loading...</strong>
                </div>
              </template>
            </b-table>

            <hr />

            <b-row align-h="start">
              <b-col
                label-cols-sm
                class="mb-0 mt-1 text-left"
                cols="3"
                align-h="center"
              >
                <div size="sm" style="color: gray; font-size: 11px;">
                  {{ bottomLabelAccount }}
                </div>
              </b-col>
              <b-col>
                <b-pagination
                  id="modules-pagination"
                  pills
                  v-model="currentPageAccount"
                  :total-rows="rowsAccounts"
                  :per-page="perPages"
                  align="right"
                  size="sm"
                  aria-controls="modules-table"
                  limit="3"
                ></b-pagination>
              </b-col>
            </b-row>
          </b-card>

          <template v-slot:modal-footer="{ ok, cancel }">
            <b-button
              id="cancel_select_modal"
              size="sm"
              @click="cancel()"
              style="font-size:13px;border: 0px;"
              >Cancel
            </b-button>
            <b-button
              id="select_acct_supp"
              size="sm"
              variant="biotech"
              @click="selectedAccount.length > 0 ? selectAccount() : ''"
              style="font-size:13px"
              class="button"
              >Select
            </b-button>
          </template>
        </b-modal>

        <!-- FIND CONNECTED BUSINESS PARTNER -->
        <b-modal
          size="lg"
          header-bg-variant="biotech"
          header-text-variant="light"
          body-bg-variant="light"
          id="find-connected-bp"
        >
          <template v-slot:modal-title>
            <h6>List Of Connected Business Partner</h6>
          </template>

          <b-card class="cardShadow">
            <b-row class="mb-2">
              <b-col cols="6">
                <b-form-input
                  id="search_bp_modal"
                  type="text"
                  placeholder="Search"
                  v-model="filterBP"
                  style="font-size:12px"
                ></b-form-input>
              </b-col>
            </b-row>

            <b-table
              class="mt-4"
              ref="selectableTable"
              selectable
              show-empty
              :busy="isBusy"
              select-mode="single"
              :current-page="currentPageAccount"
              :per-page="perPages"
              :items="filterConnectedBP"
              :fields="connBPFields"
              :filter="filterBP"
              @row-selected="onRowSelectedBP"
              responsive="sm"
            >
              <!-- Example scoped slot for select state illustrative purposes -->
              <template v-slot:cell(selected)="{ rowSelected }">
                <template v-if="rowSelected">
                  <span aria-hidden="true">&check;</span>
                  <span class="sr-only">Selected</span>
                </template>
                <template v-else>
                  <span aria-hidden="true">&nbsp;</span>
                  <span class="sr-only">Not selected</span>
                </template>
              </template>

              <template v-slot:table-busy>
                <div class="text-center text-secondary my-2">
                  <b-spinner small class="align-middle"></b-spinner>
                  <strong>&nbsp;Loading...</strong>
                </div>
              </template>
            </b-table>

            <hr />

            <b-row align-h="start">
              <b-col
                label-cols-sm
                class="mb-0 mt-1 text-left"
                cols="3"
                align-h="center"
              >
                <div size="sm" style="color: gray; font-size: 11px;">
                  {{ bottomLabelBP }}
                </div>
              </b-col>
              <b-col>
                <b-pagination
                  id="conn-pagination"
                  pills
                  v-model="currentPageBP"
                  :total-rows="rowsBP"
                  :per-page="perPages"
                  align="right"
                  size="sm"
                  aria-controls="conn-table"
                  limit="3"
                ></b-pagination>
              </b-col>
            </b-row>
          </b-card>

          <template v-slot:modal-footer="{ ok, cancel }">
            <b-button
              id="cancel_select_modal"
              size="sm"
              @click="cancel()"
              style="font-size:13px;border: 0px;"
              >Cancel
            </b-button>
            <b-button
              id="select_conn_bp"
              size="sm"
              variant="biotech"
              @click="selectedBP.length > 0 ? selectConnBP() : ''"
              style="font-size:13px"
              class="button"
              >Select
            </b-button>
          </template>
        </b-modal>
        
        <!-- FIND BUSINESS PARTNER -->
        <b-modal
          size="lg"
          header-bg-variant="biotech"
          header-text-variant="light"
          body-bg-variant="light"
          id="find-partners-modal"
        >
          <template v-slot:modal-title>
            <h6>List Of Business Partner</h6>
          </template>

          <b-card class="cardShadow">
            <b-row class="mb-2">
              <b-col cols="6">
                <b-form-input
                  id="search_partner_modal"
                  type="text"
                  placeholder="Search"
                  v-model="filterBP"
                  style="font-size:12px"
                ></b-form-input>
              </b-col>
            </b-row>

            <b-table
              class="mt-4"
              ref="selectableTable"
              selectable
              show-empty
              :busy="isBusy"
              select-mode="single"
              :current-page="currentPagePartner"
              :per-page="perPages"
              :items="filterPartner"
              :fields="partnerFields"
              :filter="filterBusPartner"
              @row-selected="onRowSelectedPartner"
              responsive="sm"
            >
              <!-- Example scoped slot for select state illustrative purposes -->
              <template v-slot:cell(selected)="{ rowSelected }">
                <template v-if="rowSelected">
                  <span aria-hidden="true">&check;</span>
                  <span class="sr-only">Selected</span>
                </template>
                <template v-else>
                  <span aria-hidden="true">&nbsp;</span>
                  <span class="sr-only">Not selected</span>
                </template>
              </template>

              <template v-slot:table-busy>
                <div class="text-center text-secondary my-2">
                  <b-spinner small class="align-middle"></b-spinner>
                  <strong>&nbsp;Loading...</strong>
                </div>
              </template>
            </b-table>

            <hr />

            <b-row align-h="start">
              <b-col
                label-cols-sm
                class="mb-0 mt-1 text-left"
                cols="3"
                align-h="center"
              >
                <div size="sm" style="color: gray; font-size: 11px;">
                  {{ bottomLabelPartner }}
                </div>
              </b-col>
              <b-col>
                <b-pagination
                  id="conn-pagination"
                  pills
                  v-model="currentPageBP"
                  :total-rows="rowsBP"
                  :per-page="perPages"
                  align="right"
                  size="sm"
                  aria-controls="conn-table"
                  limit="3"
                ></b-pagination>
              </b-col>
            </b-row>
          </b-card>

          <template v-slot:modal-footer="{ ok, cancel }">
            <b-button
              id="cancel_select_modal"
              size="sm"
              @click="cancel()"
              style="font-size:13px;border: 0px;"
              >Cancel
            </b-button>
            <b-button
              id="select_conn_bp"
              size="sm"
              variant="biotech"
              @click="selectedBP.length > 0 ? selectConnBP() : ''"
              style="font-size:13px"
              class="button"
              >Select
            </b-button>
          </template>
        </b-modal>
      </div>
    </b-modal>
  </b-container>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import VueFormWizard from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import { FormWizard, TabContent } from "vue-form-wizard";
import { mapGetters } from "vuex";

export default {
  components: {
    DateRangePicker,
    FormWizard,
    TabContent
  },

  data() {
    return {
      user_role: null,
      position: null,
      showLoading: false,
      supp_request_tabIndex: 0,
      currentPageAccount: 1,
      currentPageBP: 1,
      perPages: 5,
      pageOptions: [5, 10, 15],
      selectedAccount: [],
      selectedBP: [],
      connBPFields: [
        {
          key: "CardCode",
          label: "Code",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "CardName",
          label: "Name",
          sortable: true,
          sortDirection: "desc"
        }
      ],
      accountItems: [
        {
          key: "Code",
          label: "Account No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "Name",
          label: "Account Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "Balance",
          label: "Account Balance",
          sortable: true,
          sortDirection: "desc"
        }
      ],
      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },

      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },

      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      alert: {
        showAlert: 0,
        variant: "biotech",
        message: ""
      },

      fieldContactsTable: [
        {
          key: "FullName",
          label: "Full Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "U_POSITION",
          label: "Job Title",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_ADDRESS",
          label: "Address",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "U_CELLULAR",
          label: "Mobile No.",
          sortable: true,
          sortDirection: "desc"
        },
        { key: "actions", label: "Action" }
      ],

      fieldAddressTable: [
        {
          key: "U_ADDRESS_TYPE",
          label: "Address Type",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_STREET",
          label: "Complete Address",
          sortable: true,
          sortDirection: "desc"
        },

        { key: "actions", label: "Action" }
      ],

      addressForm: {
        U_ROW_NUM: null,
        U_ADDRESS_TYPE: null,
        U_ADDRESS: null,
        U_ADDRESS2: null,
        U_ADDRESS3: null,
        U_STREET: null,
        U_BLOCK: null,
        U_CITY: null,
        U_ZIPCODE: null,
        U_COUNTY: null,
        U_COUNTRY: null,
        U_STATE: null,
        U_STREET_NO: null,
        U_BUILDING: null,
        U_TAX_OFFICE: null,
        U_GLB_LOC_NUM: null
      },
      contactForm: {
        U_INTERNAL_CODE: null,
        U_NAME: null,
        U_FIRST_NAME: null,
        U_MIDDLE_NAME: null,
        U_LAST_NAME: null,
        U_TEL1: null,
        U_TEL2: null,
        U_CELLULAR: null,
        U_EMAIL: null,
        U_FAX: null,
        U_TITLE: null,
        U_POSITION: null,
        U_ADDRESS: null
      },

      requestForm: {
        U_COMPANY_CODE: null,
        U_REQUEST_TYPE: null,
        U_SIGNATORY_CODE: null,

        BPAddresses: [],
        ContactEmployees: [],
        RequestDetails: [
          {
            U_CODE: null,
            U_CARD_TYPE: null,
            U_NAME: null,
            U_CARD_FNAME: null,
            U_GROUP_CODE: null,
            U_CURRENCY: null,
            U_LIC_TRADE_NUM: null,
            U_LIST_NUM: null,
            U_GROUP_NUM: null,
            U_CREDIT_LINE: null,
            U_DEBT_LINE: null,
            U_PHONE1: null,
            U_PHONE2: null,
            U_CELLULAR: null,
            U_EMAIL: null,
            U_FAX: null,
            U_WEB_SITE: null,
            U_SLP_CODE: null,
            U_FATHER_CARD: null,
            U_FATHER_TYPE: null,
            U_DEB_PAY_ACCT: null,
            U_DPM_CLEAR: null,
            U_CONN_BP: null,
            U_VALID_FOR: null,
            U_VALID_FROM: null,
            U_VALID_TO: null,
            U_FROZEN_FOR: null,
            U_FROZEN_FROM: null,
            U_FROZEN_TO: null
          }
        ]
      },

      accounts: null,
      employees: null
    };
  },

  computed: {
    filterChartOfAccount() {
      if (this.accounts == 1) {
        if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "C") {
          return this.chartOfAccounts.filter(account => {
            if (account.Name.search("Trade Receivable") >= 0) {
              return account;
            }
          });
        } else if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "S") {
          return this.chartOfAccounts.filter(account => {
            if (
              account.Name.search("Payable-Local") >= 0 ||
              account.Name.search("Payable-Foreign") >= 0
            ) {
              return account;
            }
          });
        }
      } else {
        return this.chartOfAccounts;
      }
    },
    filterBPGroups() {
      if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "C")
        return this.BPGroupList.filter(group => {
          if (group.Type == "C") return group;
        });
      else if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "S")
        return this.BPGroupList.filter(group => {
          if (group.Type == "S") return group;
        });
      else return;
    },

    filterConnectedBP() {
      if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "C")
        return this.customerList;
      else if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "S")
        return this.supplierList;
      else return;
    },

    rowsAccounts() {
      if (this.chartOfAccounts) {
        return this.chartOfAccounts.length;
      } else {
        return 0;
      }
    },

    rowsBP() {
      if (this.customerList) {
        return this.customerList.length;
      } else {
        return 0;
      }
    },

    bottomLabelAccount() {
      if (!this.filterAccounts) return;

      let end = this.perPages * this.currentPageAccount;
      let start = end - this.perPages + 1;

      if (end > this.filterAccounts.length) {
        end = this.filterAccounts.length;
      }

      if (this.filterAccounts.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.filterAccounts.length} entries`;
    },

    bottomLabelBP() {
      if (!this.filterConnBP) return;

      let end = this.perPages * this.currentPageBP;
      let start = end - this.perPages + 1;

      if (end > this.filterConnBP.length) {
        end = this.filterConnBP.length;
      }

      if (this.filterConnBP.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.filterConnBP.length} entries`;
    },

    ...mapGetters({
      companyList: "SAP/Companies/getCompanyList",
      BPGroupList: "SAP/BP-Groups/getBPGroupList",
      currencyList: "SAP/Currencies/getCurrencyList",
      countryList: "SAP/Countries/getCountryList",
      salesEmployeeList: "SAP/Sales-Employees/getSalesEmployeeList",
      paymentTermList: "SAP/Payment-Terms/getPaymentTermList",
      priceList: "SAP/Price-Lists/getPriceList",
      chartOfAccounts: "SAP/Chart-Of-Accounts/getChartAccountList",
      stateList: "SAP/States/getStateList",
      supplierList: "SAP/Suppliers/getSupplierList",
      customerList: "SAP/Customers/getCustomerList",
      signatoriesList: "Admin/Signatories/getSignatoriesList"
    })
  },

  methods: {
    removeAddress(index) {
      this.requestForm.BPAddresses.splice(index, 1);
    },

    removeContact(index) {
      this.requestForm.ContactEmployees.splice(index, 1);
    },

    async showModal() {
      await this.fetchStates();
      await this.fetchAllDetails();
    },

    addAddress() {
      this.requestForm.BPAddresses.push({
        ...this.addressForm
      });
      this.clearDetailForm();
    },

    addContact() {
      this.requestForm.ContactEmployees.push(this.contactForm);
      this.clearDetailForm();
    },

    clearDetailForm() {
      this.addressForm = {
        U_ROW_NUM: null,
        U_ADDRESS_TYPE: null,
        U_ADDRESS: null,
        U_ADDRESS2: null,
        U_ADDRESS3: null,
        U_STREET: null,
        U_BLOCK: null,
        U_CITY: null,
        U_ZIPCODE: null,
        U_COUNTY: null,
        U_COUNTRY: null,
        U_STATE: null,
        U_STREET_NO: null,
        U_BUILDING: null,
        U_TAX_OFFICE: null,
        U_GLB_LOC_NUM: null
      };
      this.contactForm = {
        U_INTERNAL_CODE: null,
        U_NAME: null,
        U_FIRST_NAME: null,
        U_MIDDLE_NAME: null,
        U_LAST_NAME: null,
        U_TEL1: null,
        U_TEL2: null,
        U_CELLULAR: null,
        U_EMAIL: null,
        U_FAX: null,
        U_TITLE: null,
        U_POSITION: null,
        U_ADDRESS: null
      };
    },

    setPosition() {
      if (this.requestForm.U_SIGNATORY_CODE) {
        if (
          this.signatoriesList.find(
            signatory => signatory.Code == this.requestForm.U_SIGNATORY_CODE
          )
        ) {
          this.position = this.signatoriesList.find(
            signatory => signatory.Code == this.requestForm.U_SIGNATORY_CODE
          ).Position;
        }
      }
    },

    async saveCreateRequest() {
      await this.$store
        .dispatch("BP-Request/createRequest", {
          requestForm: this.requestForm,
          user_actions: JSON.parse(localStorage.user_actions),
          SessionId: localStorage.SessionId,
          U_CREATED_BY: JSON.parse(localStorage.user_details).Code
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
              this.showAlert(res.response.data.errorMsg, "danger");
            } else {
              this.showAlert(res.message, "danger");
            }
            this.showButtonLoading = false;
          } else {
            this.showAlert("Success", "biotech");

            this.$bvModal.hide("create-request-modal");
            // this.clearForm();
            this.showButtonLoading = false;
          }
        });
    },

    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },

    async fetchStates() {
      // FETCH STATES LIST
      await this.$store
        .dispatch("SAP/States/fetchStateList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          Country: this.addressForm.U_COUNTRY,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });
    },

    async fetchAllDetails() {
      this.showLoading = true;
      // FETCH BP GROUP LIST
      await this.$store
        .dispatch("SAP/BP-Groups/fetchBPGroupList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });
      // FETCH CURRENCY LIST
      await this.$store
        .dispatch("SAP/Currencies/fetchCurrencyList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });
      // FETCH CHART OF ACCOUNT LIST
      this.$store
        .dispatch("SAP/Chart-Of-Accounts/fetchChartAccountList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });
      // FETCH COUNTRY LIST
      this.$store
        .dispatch("SAP/Countries/fetchCountryList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });
      // FETCH SUPPLIER LIST
      this.$store
        .dispatch("SAP/Suppliers/fetchSupplierList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH SALES EMPLOYEES LIST
      this.$store
        .dispatch("SAP/Sales-Employees/fetchSalesEmployeeList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH PRICE LIST LIST
      this.$store
        .dispatch("SAP/Price-Lists/fetchPriceList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH PAYMENT TERMS LIST
      this.$store
        .dispatch("SAP/Payment-Terms/fetchPaymentTermList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH EMPLOYEE LIST
      this.$store
        .dispatch("SAP/Employees/fetchEmployeeList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH CUSTOMER LIST
      this.$store
        .dispatch("SAP/Customers/fetchCustomerList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });
      this.showLoading = false;
    },

    filterAccounts() {
      return this.chartOfAccounts;
    },

    findAccounts(index) {
      this.accounts = index;
      this.$bvModal.show("find-accounts-modal");
    },

    findPartners() {
      this.$bvModal.show("find-partners-modal");
    },

    selectAccount() {
      if (this.accounts == 1) {
        this.requestForm.RequestDetails[0].U_DEB_PAY_ACCT = this.selectedAccount[0].Code;
      } else {
        this.requestForm.RequestDetails[0].U_DPM_CLEAR = this.selectedAccount[0].Code;
      }
      this.$bvModal.hide("find-accounts-modal");
    },

    onRowSelected(items) {
      this.selectedAccount = items;
    },

    filterConnBP() {
      return this.customerList;
    },

    findConnectedBp() {
      this.$bvModal.show("find-connected-bp");
    },

    selectConnBP() {
      this.requestForm.RequestDetails[0].U_CONN_BP = this.selectedBP[0].CardCode;
      this.$bvModal.hide("find-connected-bp");
    },

    onRowSelectedBP(items) {
      this.selectedBP = items;
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getTransactionsWithDateRange();
    }
  },

  beforeCreate() {},

  created() {
    this.user_role = JSON.parse(localStorage.user_role);
    this.$store
      .dispatch("Admin/Signatories/fetchSignatoriesByCompany", {
        SessionId: localStorage.SessionId,
        user_actions: JSON.parse(localStorage.user_actions)
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });
  }
};
</script>
