<template>
  <div>
    <Loading v-if="showLoading" />

    <!-- ALERT MESSAGE -->
    <div>
      <b-alert
        id="alert-process"
        :show="alert.showAlert"
        dismissible
        fade
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="
            alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'
          "
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>

    <b-modal
      size="lg"
      header-text-variant="dark"
      id="view-request-modal"
      class="modal-lg"
      no-close-on-backdrop
      hide-footer
      scrollable
      @hidden="$emit('reload')"
      @show="showModal()"
    >
      <template v-slot:modal-title>
        <h6>
          View Request
        </h6>
      </template>
      <div>
        <br />
        <b-card class="cardShadow">
          <b-row>
            <b-col cols="4">
              <small class="ml-1">Company</small>
              <b-form-select
                id="company_supp_edit"
                v-model="requestForm.U_COMPANY_CODE"
                size="sm"
                style="font-size:10px"
                class="form-text"
                disabled
              >
                <option
                  v-for="(company, i) of companyList"
                  :key="i"
                  :value="company.ID"
                  >{{ company.COMPANYNAME }}</option
                >
              </b-form-select>
            </b-col>

            <b-col cols="4">
              <small class="ml-1">Business Partner Type</small>
              <b-form-select
                id="bp_type_supp_edit"
                v-model="requestForm.RequestDetails[0].U_CARD_TYPE"
                size="sm"
                style="font-size:10px"
                class="form-text"
                disabled
              >
                <option id="select-bp_type" value="S">Supplier</option>
                <option id="select-bp_type" value="C">Customer</option>
              </b-form-select>
            </b-col>

            <b-col cols="4">
              <small class="ml-1">Request Type</small>
              <b-form-select
                id="request_type_supp_edit"
                v-model="requestForm.U_REQUEST_TYPE"
                size="sm"
                style="font-size:10px"
                class="form-text"
                disabled
              >
                <option id="select-request_type" value="N">New</option>
                <option id="select-request_type" value="U">Update</option>
              </b-form-select>
            </b-col>
          </b-row>
        </b-card>
        <hr />
        <b-row>
          <b-col>
            <small class="ml-1">GENERAL</small>
            <b-card class="cardShadow">
              <b-row>
                <b-col cols="6">
                  <b-row>
                    <b-col>
                      <small class="ml-1">Name</small>
                      <b-form-input
                        id="supp_name_add"
                        v-model="requestForm.RequestDetails[0].U_NAME"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Foreign Name</small>
                      <b-form-input
                        id="foreign_name_supp_add"
                        v-model="requestForm.RequestDetails[0].U_CARD_FNAME"
                        size="sm"
                        class="form-text"
                        style="font-size:10px"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Group</small>
                      <b-form-select
                        id="group_supp_edit"
                        v-model="requestForm.RequestDetails[0].U_GROUP_CODE"
                        size="sm"
                        class="form-text"
                        style="font-size:10px"
                        disabled
                      >
                        <option
                          :key="i"
                          v-for="(group, i) in filterBPGroups"
                          :value="group.Code"
                          >{{ group.Name }}</option
                        >
                      </b-form-select>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Currency</small>
                      <b-form-select
                        id="currency_supp_edit"
                        v-model="requestForm.RequestDetails[0].U_CURRENCY"
                        size="sm"
                        class="form-text"
                        style="font-size:10px"
                        disabled
                      >
                        <option
                          v-for="(currency, i) of currencyList"
                          :key="i"
                          :value="currency.Code"
                          >{{ currency.DocumentsCode }}</option
                        >
                      </b-form-select>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">TIN</small>
                      <b-form-input
                        id="tin_supp_add"
                        v-model="requestForm.RequestDetails[0].U_LIC_TRADE_NUM"
                        size="sm"
                        class="form-text"
                        style="font-size:10px"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Sales Employee</small>
                      <b-form-select
                        id="mobile_no_supp_edit"
                        v-model="requestForm.RequestDetails[0].U_SLP_CODE"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        disabled
                      >
                        <option
                          v-for="(emp, i) of salesEmployeeList"
                          :key="i"
                          :value="emp.SlpCode"
                          >{{ emp.SlpName }}</option
                        >
                      </b-form-select>
                    </b-col>
                  </b-row>
                </b-col>
                <b-col>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Telephone No. 1</small>
                      <b-form-input
                        id="telephone_no_supp_add"
                        v-model="requestForm.RequestDetails[0].U_PHONE1"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Telephone No. 2</small>
                      <b-form-input
                        id="telephone_no_supp_add"
                        v-model="requestForm.RequestDetails[0].U_PHONE2"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Mobile No.</small>
                      <b-form-input
                        id="mobile_no_supp_add"
                        v-model="requestForm.RequestDetails[0].U_CELLULAR"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Fax</small>
                      <b-form-input
                        id="mobile_no_supp_add"
                        v-model="requestForm.RequestDetails[0].U_FAX"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">E-mail Address</small>
                      <b-form-input
                        id="mobile_no_supp_add"
                        v-model="requestForm.RequestDetails[0].U_EMAIL"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <small class="ml-1">Web Site</small>
                      <b-form-input
                        id="mobile_no_supp_add"
                        v-model="requestForm.RequestDetails[0].U_WEB_SITE"
                        size="sm"
                        style="font-size:10px"
                        class="form-text"
                        disabled
                      ></b-form-input>
                    </b-col>
                  </b-row>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>
        <hr />
        <b-row>
          <b-col>
            <small class="ml-1">PAYMENT TERM</small>
            <b-card class="cardShadow">
              <b-row>
                <b-col>
                  <small class="ml-1">Payment Terms</small>
                  <b-form-select
                    id="payment_terms_supp_edit"
                    v-model="requestForm.RequestDetails[0].U_GROUP_NUM"
                    size="sm"
                    style="font-size:10px"
                    class="form-text"
                    disabled
                  >
                    <option
                      v-for="(payment, i) of paymentTermList"
                      :key="i"
                      :value="payment.GroupNumber"
                      >{{ payment.PaymentTermsGroupName }}</option
                    >
                  </b-form-select>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <small class="ml-1">Price List</small>
                  <b-form-select
                    id="price_list_supp_edit"
                    v-model="requestForm.RequestDetails[0].U_LIST_NUM"
                    size="sm"
                    style="font-size:10px"
                    class="form-text"
                    disabled
                  >
                    <option
                      v-for="(price, i) of priceList"
                      :key="i"
                      :value="price.PriceListNo"
                      >{{ price.PriceListName }}</option
                    >
                  </b-form-select>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <small class="ml-1">Credit Limit</small>
                  <b-form-input
                    id="credit_limit_supp_add"
                    v-model="requestForm.RequestDetails[0].U_CREDIT_LINE"
                    size="sm"
                    style="font-size:10px"
                    class="form-text"
                    disabled
                  ></b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <small class="ml-1">Commitment Limit</small>
                  <b-form-input
                    id="commitment_limit_supp_add"
                    v-model="requestForm.RequestDetails[0].U_DEBT_LINE"
                    size="sm"
                    style="font-size:10px"
                    class="form-text"
                    disabled
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>
        <hr />
        <b-row>
          <b-col>
            <small class="ml-1">ADDRESSES</small>
            <b-card class="cardShadow">
              <b-table
                class="table"
                id="address_table_supp"
                style="font-size:13px"
                scrollable="true"
                sticky-header
                no-border-collapse
                responsive
                :filter="filter"
                show-empty
                empty-text="There are no 'Addresses' to display"
                :empty-filtered-text="`No search for ${filter} `"
                :items="requestForm.BPAddresses"
                :fields="fieldAddressTable"
                :per-page="perPage"
                :current-page="currentPage"
                :tbody-tr-class="rowClassMain"
              >
                <template v-slot:cell(U_ADDRESS_TYPE)="row">
                  {{ row.item.U_ADDRESS_TYPE == "B" ? "Bill To" : "Ship To" }}
                </template>

                <template v-slot:cell(U_STREET)="row">
                  {{ row.item.U_STREET }}
                </template>
              </b-table>
            </b-card>
          </b-col>
        </b-row>
        <hr />
        <b-row>
          <b-col>
            <small class="ml-1">CONTACTS</small>
            <b-card class="cardShadow">
              <b-table
                class="table"
                id="address_table_supp"
                style="font-size:13px"
                scrollable="true"
                sticky-header
                no-border-collapse
                responsive
                :filter="filter"
                show-empty
                empty-text="There are no 'Contacts' to display"
                :empty-filtered-text="`No search for ${filter} `"
                :items="requestForm.ContactEmployees"
                :fields="fieldContactsTable"
                :per-page="perPage"
                :current-page="currentPage"
                :tbody-tr-class="rowClassMain"
              >
                <template v-slot:cell(FullName)="row">
                  {{ row.item.U_FIRST_NAME }} {{ row.item.U_LAST_NAME }}
                </template>
              </b-table>
            </b-card>
          </b-col>
        </b-row>
        <hr />
        <b-row>
          <b-col cols="5">
            <small class="ml-1">ATTACHMENTS</small>
            <b-card class="cardShadow">
              <b-row>
                <b-col>
                  <small class="ml-1"><b>Documents</b></small>
                  <b-form-checkbox-group
                    id="attachments_group_supp_add"
                    name="flavour-2"
                    class="pl-2"
                    style="font-size:14px"
                    v-model="attachments"
                  >
                    <b-col>
                      <b-form-checkbox id="bir_cert" value="BIR" disabled
                        >BIR Certificate of Registration</b-form-checkbox
                      >
                    </b-col>
                    <b-col>
                      <b-form-checkbox id="dti_cert" value="DTI"
                        >DTI Certificate of Registration</b-form-checkbox
                      >
                    </b-col>
                    <b-col>
                      <b-form-checkbox id="sec_cert" value="SEC"
                        >SEC Certificate of Registartion with Latest
                        SIS</b-form-checkbox
                      >
                    </b-col>
                    <b-col>
                      <b-form-checkbox id="invoice_dr_or" value="Invoice-DR"
                        >Sample Invoice / DR / OR</b-form-checkbox
                      >
                    </b-col>
                    <b-col>
                      <b-form-checkbox id="letter_change_busName" value="Letter"
                        >Letter Informing Change in Business Name (if
                        applicable)</b-form-checkbox
                      >
                    </b-col>
                    <b-col>
                      <b-form-checkbox
                        id="business_permit"
                        value="Business-Permit"
                        >Business Permit</b-form-checkbox
                      >
                    </b-col>
                    <b-col>
                      <b-form-checkbox id="price_list" value="Price-List"
                        >Latest Price List</b-form-checkbox
                      >
                    </b-col>
                  </b-form-checkbox-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <small class="ml-1"><b>For Change Payee Name ONLY</b></small>
                  <b-form-checkbox-group
                    id="change_payee_group_supp_add"
                    name="flavour-2"
                    class="pl-2"
                    style="font-size:14px"
                    v-model="change_payee_name"
                  >
                    <b-col>
                      <b-form-checkbox
                        id="letter_authority"
                        value="Letter-Of-Authority"
                        >Letter of Authority</b-form-checkbox
                      >
                    </b-col>
                    <b-col>
                      <b-form-checkbox id="notarized_spa" value="Notarized-SPA"
                        >Notarized SPA</b-form-checkbox
                      >
                    </b-col>
                    <b-col>
                      <b-form-checkbox
                        id="board_resolution"
                        value="BOARD-RESOLUTION"
                        >Notarized Board Resolution</b-form-checkbox
                      >
                    </b-col>
                  </b-form-checkbox-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <small class="ml-1"><b>Issue Invoice?</b></small>
                  <b-form-checkbox-group
                    id="invoice_supp_add"
                    name="flavour-2"
                    class="pl-2"
                    style="font-size:14px"
                    v-model="invoice"
                  >
                    <b-col>
                      <b-form-checkbox id="issue_invoice" value="Invoice"
                        >Issue Invoice</b-form-checkbox
                      >
                    </b-col>
                  </b-form-checkbox-group>
                </b-col>
              </b-row>
            </b-card>
          </b-col>

          <b-col>
            <small class="ml-1"></small>
            <b-card class="cardShadow">
              <UploadAttachments />
            </b-card>
          </b-col>
        </b-row>
        <hr />
        <small class="ml-1">SIGNATORIES</small>
        <b-card class="cardShadow">
          <b-row>
            <b-col cols="6">
              <b-form-select
                id="signatories_name_supp_edit"
                v-model="requestForm.U_SIGNATORY_CODE"
                size="sm"
                style="font-size:10px"
                class="form-text"
                disabled
              >
                <option
                  v-for="(signatory, i) of signatoriesList"
                  :key="i"
                  :value="signatory.Code"
                  >{{ signatory.FirstName }} {{ signatory.LastName }}</option
                >
              </b-form-select>
            </b-col>
            <b-col>
              <b-form-input
                id="position_supp_edit"
                size="sm"
                style="font-size:10px"
                class="form-text"
                v-model="position"
                disabled
              >
              </b-form-input>
            </b-col>
          </b-row>
        </b-card>
        <br />
      </div>
    </b-modal>
  </div>
</template>

<script>
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from "vuex";

export default {
  components: {
    DateRangePicker
  },

  props: {
    requestForm: Object
  },
  data() {
    return {
      position: null,
      showLoading: false,
      supp_request_tabIndex: 0,
      currentPageAccount: 1,
      currentPageBP: 1,
      perPages: 5,
      pageOptions: [5, 10, 15],
      selectedAccount: [],
      selectedBP: [],
      connBPFields: [
        {
          key: "CardCode",
          label: "Code",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "CardName",
          label: "Name",
          sortable: true,
          sortDirection: "desc"
        }
      ],
      accountItems: [
        {
          key: "Code",
          label: "Account No.",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "Name",
          label: "Account Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "Balance",
          label: "Account Balance",
          sortable: true,
          sortDirection: "desc"
        }
      ],
      datePicker: {
        startDate: moment()
          .subtract(1, "months")
          .format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },

      dateRange: {
        request_date_from: moment().format("YYYY-MM-DD"),
        request_date_to: moment().format("YYYY-MM-DD")
      },

      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      alert: {
        showAlert: 0,
        variant: "biotech",
        message: ""
      },

      fieldContactsTable: [
        {
          key: "FullName",
          label: "Full Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "U_POSITION",
          label: "Job Title",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_ADDRESS",
          label: "Address",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "U_CELLULAR",
          label: "Mobile No.",
          sortable: true,
          sortDirection: "desc"
        }
      ],

      addressTable: [
        {
          address_type: "Bill To",
          address: "Test",
          actions: true
        }
      ],

      fieldAddressTable: [
        {
          key: "U_ADDRESS_TYPE",
          label: "Address Type",
          sortable: true,
          sortDirection: "desc"
        },

        {
          key: "U_STREET",
          label: "Complete Address",
          sortable: true,
          sortDirection: "desc"
        }
      ],

      addressForm: {
        U_ROW_NUM: null,
        U_ADDRESS_TYPE: null,
        U_ADDRESS: null,
        U_ADDRESS2: null,
        U_ADDRESS3: null,
        U_STREET: null,
        U_BLOCK: null,
        U_CITY: null,
        U_ZIPCODE: null,
        U_COUNTY: null,
        U_COUNTRY: null,
        U_STATE: null,
        U_STREET_NO: null,
        U_BUILDING: null,
        U_TAX_OFFICE: null,
        U_GLB_LOC_NUM: null
      },
      contactForm: {
        U_INTERNAL_CODE: null,
        U_NAME: null,
        U_FIRST_NAME: null,
        U_MIDDLE_NAME: null,
        U_LAST_NAME: null,
        U_TEL1: null,
        U_TEL2: null,
        U_CELLULAR: null,
        U_EMAIL: null,
        U_FAX: null,
        U_TITLE: null,
        U_POSITION: null,
        U_ADDRESS: null
      },

      requestForm: {
        U_COMPANY_CODE: null,
        U_REQUEST_TYPE: null,
        U_SIGNATORY_CODE: null,

        BPAddresses: [],
        ContactEmployees: [],
        RequestDetails: [
          {
            U_CODE: null,
            U_CARD_TYPE: null,
            U_NAME: null,
            U_CARD_FNAME: null,
            U_GROUP_CODE: null,
            U_CURRENCY: null,
            U_LIC_TRADE_NUM: null,
            U_LIST_NUM: null,
            U_GROUP_NUM: null,
            U_CREDIT_LINE: null,
            U_DEBT_LINE: null,
            U_PHONE1: null,
            U_PHONE2: null,
            U_CELLULAR: null,
            U_EMAIL: null,
            U_FAX: null,
            U_WEB_SITE: null,
            U_SLP_CODE: null,
            U_FATHER_CARD: null,
            U_FATHER_TYPE: null,
            U_DEB_PAY_ACCT: null,
            U_DPM_CLEAR: null,
            U_CONN_BP: null,
            U_VALID_FOR: null,
            U_VALID_FROM: null,
            U_VALID_TO: null,
            U_FROZEN_FOR: null,
            U_FROZEN_FROM: null,
            U_FROZEN_TO: null
          }
        ]
      },

      accounts: null,
      employees: null
    };
  },

  computed: {
    filterChartOfAccount() {
      if (this.accounts == 1) {
        if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "C") {
          return this.chartOfAccounts.filter(account => {
            if (account.Name.search("Trade Receivable") >= 0) {
              return account;
            }
          });
        } else if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "S") {
          return this.chartOfAccounts.filter(account => {
            if (
              account.Name.search("Payable-Local") >= 0 ||
              account.Name.search("Payable-Foreign") >= 0
            ) {
              return account;
            }
          });
        }
      } else {
        return this.chartOfAccounts;
      }
    },
    filterBPGroups() {
      if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "C")
        return this.BPGroupList.filter(group => {
          if (group.Type == "C") return group;
        });
      else if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "S")
        return this.BPGroupList.filter(group => {
          if (group.Type == "S") return group;
        });
      else return;
    },

    filterConnectedBP() {
      if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "C")
        return this.customerList;
      else if (this.requestForm.RequestDetails[0].U_CARD_TYPE == "S")
        return this.supplierList;
      else return;
    },

    rowsAccounts() {
      if (this.chartOfAccounts) {
        return this.chartOfAccounts.length;
      } else {
        return 0;
      }
    },

    rowsBP() {
      if (this.customerList) {
        return this.customerList.length;
      } else {
        return 0;
      }
    },

    bottomLabelAccount() {
      if (!this.filterAccounts) return;

      let end = this.perPages * this.currentPageAccount;
      let start = end - this.perPages + 1;

      if (end > this.filterAccounts.length) {
        end = this.filterAccounts.length;
      }

      if (this.filterAccounts.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.filterAccounts.length} entries`;
    },

    bottomLabelBP() {
      if (!this.filterConnBP) return;

      let end = this.perPages * this.currentPageBP;
      let start = end - this.perPages + 1;

      if (end > this.filterConnBP.length) {
        end = this.filterConnBP.length;
      }

      if (this.filterConnBP.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.filterConnBP.length} entries`;
    },

    ...mapGetters({
      companyList: "SAP/Companies/getCompanyList",
      BPGroupList: "SAP/BP-Groups/getBPGroupList",
      currencyList: "SAP/Currencies/getCurrencyList",
      countryList: "SAP/Countries/getCountryList",
      salesEmployeeList: "SAP/Sales-Employees/getSalesEmployeeList",
      paymentTermList: "SAP/Payment-Terms/getPaymentTermList",
      priceList: "SAP/Price-Lists/getPriceList",
      chartOfAccounts: "SAP/Chart-Of-Accounts/getChartAccountList",
      stateList: "SAP/States/getStateList",
      supplierList: "SAP/Suppliers/getSupplierList",
      customerList: "SAP/Customers/getCustomerList",
      signatoriesList: "Admin/Signatories/getSignatoriesList"
    })
  },

  methods: {
    async showModal() {
      await this.fetchStates();
      await this.fetchAllDetails();
    },

    addAddress() {
      this.requestForm.BPAddresses.push(this.addressForm);
      this.clearDetailForm();
    },

    addContact() {
      this.requestForm.ContactEmployees.push(this.contactForm);
      this.clearDetailForm();
    },

    clearDetailForm() {
      this.addressForm = {
        U_ROW_NUM: null,
        U_ADDRESS_TYPE: null,
        U_ADDRESS: null,
        U_ADDRESS2: null,
        U_ADDRESS3: null,
        U_STREET: null,
        U_BLOCK: null,
        U_CITY: null,
        U_ZIPCODE: null,
        U_COUNTY: null,
        U_COUNTRY: null,
        U_STATE: null,
        U_STREET_NO: null,
        U_BUILDING: null,
        U_TAX_OFFICE: null,
        U_GLB_LOC_NUM: null
      };
      this.contactForm = {
        U_INTERNAL_CODE: null,
        U_NAME: null,
        U_FIRST_NAME: null,
        U_MIDDLE_NAME: null,
        U_LAST_NAME: null,
        U_TEL1: null,
        U_TEL2: null,
        U_CELLULAR: null,
        U_EMAIL: null,
        U_FAX: null,
        U_TITLE: null,
        U_POSITION: null,
        U_ADDRESS: null
      };
    },

    setPosition() {
      if (this.requestForm.U_SIGNATORY_CODE) {
        if (
          this.signatoriesList.find(
            signatory => signatory.Code == this.requestForm.U_SIGNATORY_CODE
          )
        ) {
          this.position = this.signatoriesList.find(
            signatory => signatory.Code == this.requestForm.U_SIGNATORY_CODE
          ).Position;
        }
      }
    },

    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },

    async fetchStates() {
      // FETCH STATES LIST
      await this.$store
        .dispatch("SAP/States/fetchStateList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          Country: this.addressForm.U_COUNTRY,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });
    },

    async fetchAllDetails() {
      this.showLoading = true;
      // FETCH BP GROUP LIST
      await this.$store
        .dispatch("SAP/BP-Groups/fetchBPGroupList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH CURRENCY LIST
      await this.$store
        .dispatch("SAP/Currencies/fetchCurrencyList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      this.showLoading = false;

      // FETCH CHART OF ACCOUNT LIST
      this.$store
        .dispatch("SAP/Chart-Of-Accounts/fetchChartAccountList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH COUNTRY LIST
      this.$store
        .dispatch("SAP/Countries/fetchCountryList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH SUPPLIER LIST
      this.$store
        .dispatch("SAP/Suppliers/fetchSupplierList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH SALES EMPLOYEES LIST
      this.$store
        .dispatch("SAP/Sales-Employees/fetchSalesEmployeeList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH PRICE LIST LIST
      this.$store
        .dispatch("SAP/Price-Lists/fetchPriceList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH PAYMENT TERMS LIST
      this.$store
        .dispatch("SAP/Payment-Terms/fetchPaymentTermList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH EMPLOYEE LIST
      this.$store
        .dispatch("SAP/Employees/fetchEmployeeList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });

      // FETCH CUSTOMER LIST
      this.$store
        .dispatch("SAP/Customers/fetchCustomerList", {
          CompanyDB: this.requestForm.U_COMPANY_CODE,
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res && res.name == "Error") {
            if (res.response && res.response.data.errorMsg) {
              if (res.response.data.errorMsg === "Invalid session.") {
                this.$bvModal.show("session_modal");
              }
            }
          }
        });
    },

    filterAccounts() {
      return this.chartOfAccounts;
    },

    filterConnBP() {
      return this.customerList;
    },

    findAccounts(index) {
      this.accounts = index;
      this.$bvModal.show("find-accounts-modal");
    },

    findConnectedBp() {
      this.$bvModal.show("find-connected-bp");
    },

    selectAccount() {
      if (this.accounts == 1) {
        this.requestForm.RequestDetails[0].U_DEB_PAY_ACCT = this.selectedAccount[0].Code;
      } else {
        this.requestForm.RequestDetails[0].U_DPM_CLEAR = this.selectedAccount[0].Code;
      }
      this.$bvModal.hide("find-accounts-modal");
    },

    selectConnBP() {
      this.requestForm.RequestDetails[0].U_CONN_BP = this.selectedBP[0].CardCode;
      this.$bvModal.hide("find-connected-bp");
    },

    onRowSelected(items) {
      this.selectedAccount = items;
    },

    onRowSelectedBP(items) {
      this.selectedBP = items;
    },

    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.request_date_from = moment(
        this.datePicker.startDate
      ).format("YYYY-MM-DD")),
        (this.dateRange.request_date_to = moment(
          this.datePicker.endDate
        ).format("YYYY-MM-DD"));

      // this.getTransactionsWithDateRange();
    }
  },

  beforeCreate() {},

  async created() {
    await this.$store
      .dispatch("Admin/Signatories/fetchSignatoriesByCompany", {
        SessionId: localStorage.SessionId,
        user_actions: JSON.parse(localStorage.user_actions)
      })
      .then(res => {
        if (res && res.name == "Error") {
          if (res.response && res.response.data.errorMsg) {
            if (res.response.data.errorMsg === "Invalid session.") {
              this.$bvModal.show("session_modal");
            }
          }
        }
      });
    this.setPosition();
  }
};
</script>
